<div 
    class="pnd-item" 
    ng-class="{'pnd-select-item': isSelected, 'pnd-sticky-item': isSticky() && forceSticky}"
    ng-click="setStickInForceMode()"
    ng-mouseover="onItemMouseOver()" 
    ng-mouseleave="onItemMouseLeave()">
    
    <div class="pnd-item-buttons">
        <button
            type="button"
            class="btn btn-xs btn-link pnd-btn-bar"
            title="Options"
            ng-hide="hideOptions"
            ng-click="onClickMenu($event)">
            <span class="pnd-icon pnd-icon-dots" ng-if="itemType !== 'notebook'"></span>
            <span class="pnd-icon pnd-icon-gears" ng-if="itemType === 'notebook'"></span>
        </button>

        <!-- The following code is relative to the deprecated sticky button -->
        <!--
        <button
            type="button"
            class="btn btn-xs btn-link pnd-btn-stick"
            title="Sticky"
            ng-hide="hideStickyButton"
            ng-click="onClickSticky($event)">
            <span class="pnd-icon pnd-icon-thumb-tack"></span>
        </button>

        <span ng-if="isSelect" class="pnd-icon pnd-icon-check"></span>
        -->

    </div>

    <div class="pnd-item-text" ng-if="itemType !== 'notebook'">
        <span 
            class="pnd-item-typeLabel"
            ng-show="item.type.length > 0">
            {{itemTypeLabel}}
        </span>
        <span class="pnd-item-label">
            {{item.label}}
        </span>
    </div>

    <div class="pnd-item-text" ng-if="itemType === 'notebook'">
        <!-- <span class="pnd-item-typeLabel">{{notebook.visibility}}</span> -->
        <span ng-if="!item.isPublic()" class="pnd-icon pnd-icon-lock"  title="Private"></span>
        <span ng-if="item.isPublic()" class="pnd-icon pnd-icon-group" title="Public"></span>
        <span ng-if="item.isCurrent()" class="pnd-icon pnd-icon-pencil" title="Current"></span>
        <span class="pnd-item-label">{{item.label}}</span>
    </div>

</div>