<!-- TODO: split Korbo template to solve this code soup -->

<div class="tabbable tabs-left"> <!-- tabs left -->
   <!-- header -->
   <div 
        class="pnd-panel-tab-content-header pnd-panel-tab-content-header-border"
        ng-if="showHeader">

       <!-- TODO: please remember that class "pnd-vertical-tab-header-content" was removed -->
        
        <!-- Search Input div -->
        <div class="left-inner-icon pnd-panel-tab-search">
            <span 
                class="pnd-icon {{subjectIcon}}" 
                ng-click="clearSearch()"></span>
            <input 
                type="text" 
                class="pnd-rsp-input input-sm form-control" 
                placeholder="Type at least 3 characters ..." 
                ng-model="$parent.$parent.label"
                ng-change="updateSearch($parent.$parent.label)"
                ng-minlength="3"
                >
        </div>
    </div>
    <!-- // end header -->

    <div ng-include="'src/ResourcePanel/verticalTabs.tmpl.html'" replace="true"></div>

</div> <!-- / tabs left -->