<!-- List -->
<ul
    class="pnd-vertical-tabs">
    <li
        ng-repeat="pane in contentTabs"
        ng-class="{active: $index == active}">
        <a
            data-toggle="tab"
            ng-click="setActive($index, $event)"
            data-index="{{$index}}" >
            <span
                class="badge pull-right"
                ng-show="showFilteredResults && !pane.isLoading && pane.isStarted">
                {{ contentTabs[$index].selector.config.infiniteScrolling ? (contentTabs[$index].remoteItemCount || 0) : tabItemsFiltered[$index].length ? tabItemsFiltered[$index].length : 0}}
            </span>
            <span
                class="badge pull-right"
                ng-show="!showFilteredResults && !pane.isLoading && pane.isStarted">
                {{pane.items.length}}
            </span>
            <span
                class="pnd-icon pnd-icon-refresh pnd-icon-spin pull-right"
                ng-show="pane.isLoading"></span>
            {{pane.title}}
        </a>
    </li>
</ul>

<div>
    <div class="pnd-vertical-tab-content">
        <div 
            ng-repeat="pane in contentTabs" 
            class="tab-pane pnd-vertical-tab-list-content" 
            ng-class="[$index == active ? 'active' : '']" unlimited-scroll="infiniteScroll(pane, label)">
            <div 
                class="kee-server-messages" 
                ng-if="showContentMessage1 && !contentTabs[$index].serverError">
                <!-- messages 1 -->
                <div 
                    ng-show="!contentTabs[$index].isLoading && contentTabs[$index].items.length === 0 && elemToSearch !== ''">
                    No results found
                </div>
                <!-- / end messages 1 -->
                
                <!-- messages 2 -->
                <div 
                    class="kee-server-searching" 
                    ng-show="contentTabs[$index].isLoading && elemToSearch !== ''">
                    <span class="pnd-icon pnd-icon-refresh pnd-icon-spin "></span>
                </div>
                <!-- / end messages 2 -->

                <!-- messages 3 -->
                <div 
                    ng-show="!contentTabs[$index].isLoading && contentTabs[$index].items.length === 0 && elemToSearch === ''">
                    Type a label to search...
                </div>
                <!-- / end messages 3 -->
            </div>

            <!-- messages 4 -->
            <div 
                class="kee-server-messages" 
                ng-if="showContentMessage4 && contentTabs[$index].serverError">
                <div ng-show="contentTabs[$index].serverError">
                    Server error
                </div>
            </div>

            <!-- TODO: find a better way to show partial counting -->
            <ul class="list-group" ng-init="$parent.tabItemsFiltered = $parent.tabItemsFiltered || []; initTabItemsFiltered()">
                <li 
                    class="list-group-item" 
                    ng-repeat="mi in $parent.tabItemsFiltered[$index] = contentTabs[$index].isLocal ? (contentTabs[$index].items | filter:{label: label}) : contentTabs[$index].items"
                    ng-if="showFilteredResults && !resetSearch">
                    <item 
                        uri="{{mi.uri}}" 
                        is-selected="isSelected(mi)" 
                        ng-click="select(mi, $event)"
                        ng-dblclick="save(mi)"
                        hide-options="true" 
                        hide-sticky-button="true"></item>
                </li>

                <li ng-if="showContentMessage5">
                    <span class="pnd-ui-message">
                        {{getMessageText(contentTabs[$index].title, contentTabs[$index].items, $parent.tabItemsFiltered[$index], label, showContentMessage5, pane.isLoading)}}
                    </span>
                </li>

                <!-- Korbo -->
                <li 
                    class="list-group-item" 
                    ng-repeat="mi in contentTabs[$index].items | orderBy:getOrderProperty" 
                    ng-if="!showFilteredResults"
                    ng-mouseenter="getItem(mi);$event.stopPropagation()"
                    ng-init="customTemplate = useCustomTemplate"
                    ng-mouseleave="onMouseLeave()">
                    <item 
                        uri="{{mi.uri}}"
                        is-selected="isSelected(mi)"
                        hide-options="true"
                        hide-sticky-button="true" 
                        ng-click="select(mi, $event)"
                        use-in-korbo="true"></item>
                </li>
            </ul>
        </div>

        <div 
            class="pnd-vertical-tab-footer-content" 
            ng-if="showVerticalTabFooterContent">
            <button 
                class="pnd-resource-panel-use-button pnd-btn pnd-btn-calltoaction pnd-use"
                ng-show="showSaveButton(this)"
                ng-class="{'disabled': !isUseActive}" 
                ng-click="save(itemSelected)">
                Use
            </button><button
                class="pnd-resource-panel-copy-button pnd-btn"
                ng-class="{'disabled': !isUseActive}" 
                ng-show="showUseAndCopyButton()"
                ng-click="useAndCopy(itemSelected)">
                Copy and Use
            </button><button
                class="pnd-resource-panel-new-button pnd-btn"
                ng-class="{'disabled': !isUseActive}" 
                ng-show="showCopyInEditorButton()" 
                ng-click="copyInEditor()">
                Copy in editor
            </button><button
                class="pnd-resource-panel-new-button pnd-btn" ng-show="showNewButton()"
                ng-click="createNew()">
                Create new
            </button><button
                class="pnd-resource-panel-use-button pnd-btn"
                ng-show="showUseFullPageButton"
                ng-click="useFullPage()">
                Use web page
            </button><button
                class="pnd-resource-panel-use-button pnd-btn"
                ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>