/**
 * ALERT SYSTEM
 *
 * Style for alert system displaying alerts and notifications to the user
 */

/* ------------------------------------ *\
   #ALERT-SYSTEM-WRAPPER
\* ------------------------------------ */
.pnd-alert-wrp {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 100000000;
}


/* ------------------------------------ *\
   #ALERTS-DETAILS
\* ------------------------------------ */