/**
 * ANNOMATIC
 *
 * Style for annomatic entity extraction tool
 */

/* ------------------------------------ *\
  #ANNOMATIC
\* ------------------------------------ */
annomatic-panel.fixed > header {
    position: fixed;
    top: 0;
    right: 0;
}

body .pnd-wrp .pnd-annomatic-scan-btn {
    position: absolute;
    top: -10000px;
    z-index: 1000000000;
}


/* ------------------------------------ *\
   #ANNOMATIC-IN-ANNOTATIONS-SIDEBAR
\* ------------------------------------ */
.pnd-annomatic-container {

    /* Top area contains text */
    .pnd-annomatic-content-top {
        position: fixed;
        z-index: 10;
        top: 64px;
        width: @annotation-sidebar-exp-width;
        background-color: @color-background-base;
        border-bottom: 1px solid @color-border-normal;

        p {
            padding: 5px 10px;
            color: @color-text;
            font-size: 12px; // Switch back to 13px when the bug of the right font not being loaded wll be fixed
        }

        .value {
            font-weight: @font-weight-bold;
        }
    }

    .pnd-annomatic-content {
        margin-top: 70px;

        /* Contains buttons... vertical center */
        .pnd-annomatic-content-buttons {
            position: fixed;
            top: 50%; /* Is the height of the buttons above */
            width: @annotation-sidebar-exp-width;
            margin-top: 45px;
            z-index: 3;
            text-align: center;
        }

        /* Contains text... vertical center */
        .pnd-annomatic-content-text {
            position: fixed;
            top: 50%; /* Is the height of the buttons above */
            margin-top: -14px;
            width: @annotation-sidebar-exp-width;
            z-index: 3;
            text-align: center;
            h1, p {
                margin: 0 10px;
                text-align: center;
            }

            h1 {
                font-size: 22px;
                color: @color-text-light;
            }
        }
    }
}


/* ------------------------------------ *\
   #ANNOMATIC-INLINE
\* ------------------------------------ */

/* Text background color */
.ann-auto {

    &.ann-hidden {
        background-color: inherit !important;
        // color: inherit !important;
    }
    &:not(.ann-hidden) {

        &.ann-waiting {
            background-color: @text-fragment-color-1;
            // color: #fff;
        }

        &.ann-active {
            background-color: @text-fragment-color-hover;
            // color: #fff;

            & + .pnd-icon-magic {
                color: @text-fragment-icon-color-hover !important;
            }
        }

        &.ann-ok {
            background-color: @text-fragment-color-hover;
            // color: #fff;

            & + .pnd-icon-magic {
                display: none;
            }
        }

        &.ann-removed {
            background-color: transparent;
            // color: #fff;
            // padding: 0.2em 0.3em;
        }
    }
}

.pnd-text-fragment-icon.ann-hidden {
    display: none;
}

/* Border of area selected by the user */
.selecting-ancestor {
    outline: 3px solid @text-fragment-color-hover;
    border-radius: 8px;
}

/* The icon */
span.pnd-text-fragment-icon.pnd-icon-magic {
    font-size: 1.1em !important;
    margin-left: 0.2em;
    color: @text-fragment-icon-color;
    vertical-align: baseline;
    text-decoration: none;

    &:hover {
        color: @text-fragment-icon-color-hover !important;
        text-decoration: none;
    }
}


/* ------------------------------------ *\
   #ANNOMATIC-POPOVER
\* ------------------------------------ */

/* The popover */
body .pnd-annomatic-popover {
    // position: absolute !important;
    max-width: @annomatic-popover-width !important;
    width: @annomatic-popover-width;
    height: @annomatic-popover-height;
    z-index: @zindex-pnd-annomatic-popover;
    // max-width: none !important;

    /* Title area */
    .popover-title {
        height: 40px;
        padding: 0 14px;
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .pnd-icon {
            font-size: 16px;
            line-height: 40px;
            cursor: pointer;

            &:hover {
                color: @color-text-link;
            }
        }
    }

    /* Content area */
    .popover-content {
        padding: 0 0 40px 0;

        .pnd-annomatic-popover-details {
            height: @annomatic-popover-height - 120px; // 120 height of header, footer, confidence
            padding: 15px;
            overflow-y: auto !important;
            overflow-x: hidden !important;
        }

        .pnd-preview-item-types {
            margin-top: 4px;
            margin-bottom: 10px;

            ul {
                padding: 0 0 10px 0;
            }
        }

        .pnd-preview-item-image {
            padding: 0 10px 0 0;
        }

        .pnd-preview-item-description {
            padding: 0;
        }

        /* Confidence indicator */
        .pnd-annomatic-confidence {
            height: 40px;
            border-top: 1px solid @color-border-normal;
            background-color: @color-background-light;
            padding: 6px 15px;

            .value {
                font-weight: @font-weight-bold;
            }
        }
    }

    /* Footer */
    .pnd-panel-tab-content-footer {
        height: 40px;
        background-color: transparent;
    }

    .pnd-annomatic-popover-multi-entities {
        padding: 8px;
    }
}