/**
 * ANNOTATION SIDEBAR
 *
 * Styles related to the sidebar on the right containing the annotations.
 */

/* TODO: Code style review and check if some optimization is possible */


/* ------------------------------------ *\
   #MAIN-STYLE
\* ------------------------------------ */
.pnd-annotation-sidebar-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: @toolbar-height;
    height: 100%;
    z-index: @zindex-pnd-annotation-sidebar;
    display: block;
    background-color: @color-annotation-sidebar-bg;
    // #gradient > .horizontal-three-colors(darken(@color-annotation-sidebar-bg, 10); @color-annotation-sidebar-bg; 2%; @color-annotation-sidebar-bg);
}

.pnd-annotation-sidebar-content {
    padding: 0;
}

.pnd-annotation-sidebar-container.pnd-annotation-sidebar-collapsed {
    width: @annotation-sidebar-coll-width;
}

.pnd-annotation-sidebar-container.pnd-annotation-sidebar-expanded {
    width: @annotation-sidebar-exp-width;
}

.pnd-footer-sidebar-filter {
    text-align: center;
}

.pnd-annotation-sidebar-annomatic {
    color: #FFF;
}

.pnd-saving-content {
    text-align: center;
    position: absolute;
    z-index: 99;
    background-color: @gray-dark;
    left: 0;
    right: 0;
    top: 32px;
    bottom: 0;
    padding-top: 40px;
    color: @gray-lighter;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.85;

    .pnd-icon {
        color: #fff !important;
    }
}

.pnd-annotation-sidebar-annotations {
    margin-top: 26px;
}

.pnd-annotation-details-delete-in-progress {
    opacity: 0.4;
}


/* ------------------------------------ *\
   #INPUT-SEARCH
\* ------------------------------------ */

.pnd-annotation-sidebar-filter-input, .pnd-annotation-sidebar-filter-input-contains {
    position: relative;

    .pnd-icon {
        position: absolute;
        color: @gray-light;
        right: 2px;
        top: 0;
        padding: 7px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .pnd-icon.pnd-icon-times:hover {
        color: @brand-success;
        cursor: pointer;
    }
}

.pnd-annotation-sidebar-filter-input-contains {
    padding: 10px;

    .pnd-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 7px;
    }

}


/* ------------------------------------ *\
   #BUTTONS
\* ------------------------------------ */

.pnd-annotation-sidebar-content {

    button {

        &.pnd-btn-sidebar {
            color: @nav-tabs-active-link-hover-color;
            margin: 0;
            padding: 6px 0;
            background-color: @gray-dark;
            width: 50%;
            color: @gray-light;

            &:hover,
            &:active,
            &:focus {
                background-color: #fff;
                color: @gray-dark;
            }

            &.pnd-active {
                background-color: #fff;
                color: @gray-dark;
            }
        }
    }

    .pnd-btn-sidebar-full {
        background-color: #EEEEEE;
        text-align: center;

        button {
            width: 100%;
        }
    }

    .pnd-annotation-details-opacity {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: 0.4;
        background-color: black;
        position: absolute;
        top: 32px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 98;
    }

    .pnd-annotation-sidebar-filter-content {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        z-index: 99; /* TODO: Pay attention to hardcoded z-index */

        & ~ button {
            margin-top: 10px !important;
        }
    }
}

.pnd-annotation-sidebar-filters-list {
    background-color: #fff;
    text-align: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    opacity: 0.9;

    .pnd-annotation-footer-sidebar-filter {
        padding: 5px;
        border-top: 1px solid @gray-extra-light;
        text-align: center;
    }

    .pnd-annotation-sidebar-filter {
        padding: 0 10px;
        border-top: 1px solid @gray-extra-light;
        width: @annotation-sidebar-width;
    }

    .pnd-annotation-sidebar-filter-broken {
        padding: 6px 6px 6px 10px;
        border-top: 1px solid @gray-extra-light;
        width: @annotation-sidebar-width;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: @gray-lighter;
        }

        &:after {
            content: "\f06a";
            font-family: 'pundit-font';
            display: inline-block;
            float: right;
            color: @brand-warning;
        }
    }

    /* Panels */
    .pnd-panel {
        font-weight: bold;
        padding: 6px 10px 6px 10px;
        margin: 0 -10px;
        cursor: pointer;

        &:hover {
            background-color: @gray-lighter;

            &:after {
                color: @brand-success;
            }
        }

        /* Toggle icon */
        &:after {
            content: "\f0dd";
            font-family: 'pundit-font';
            display: inline-block;
            float: right;
        }
    }

    .pnd-annotation-sidebar-filter-show .pnd-panel {

        &:after {
            content: "\f0d8";
            font-family: 'pundit-font';
            display: inline-block;
            float: right;
        }
    }

    .pnd-annotation-sidebar-filter-show .pnd-annotation-sidebar-filter-element {
        display: block;

    }

    .pnd-annotation-sidebar-filter-show .pnd-annotation-sidebar-filter-input {
        display: block;

        input {
            margin: 10px 0;
        }
    }

    .pnd-annotation-sidebar-filter-show .pnd-annotation-sidebar-filter-label {
        display: none;

    }

    .pnd-annotation-sidebar-filter-element {
        display: none;
        margin: 0 0 6px 0;
        cursor: pointer;

        &.pnd-annotation-sidebar-current-filter-active {
            color: @brand-success;
            font-weight: bold;
            display: block;
        }

        &.pnd-annotation-sidebar-current-filter-empt-red {
            color: @brand-warning;
            font-weight: bold;
            display: block;
        }
    }

    .pnd-annotation-sidebar-filter-label {
        display: block;
    }

    .pnd-annotation-sidebar-filter-input {
        display: none;

        &.pnd-annotation-sidebar-current-filter-active {
            display: block;
        }
    }

    .pnd-sidebar-filter-scroll {
        max-height: 300px;
        margin-right: -10px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


/* ------------------------------------ *\
   #SINGLE-ANNOTATIONS-DETAILS
\* ------------------------------------ */

/* General structure with text label on the lest and button on the right */
.pnd-annotation-item-header-text {
    display: inline-block;
    overflow: hidden;
    width: @annotation-sidebar-width - 24;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;

    .pnd-icon {
        display: inline-block;
        margin-top: 6px;
        vertical-align: top;
    }
}

.pnd-annotation-item-header-text + .btn {
    border: none;
    background-color: transparent;
    line-height: 0;
    height: 24px;
    width: 24px;
    padding: 0 8px;
}

/* Wraps whole single annotation */
.pnd-annotation-details-wrap {
    padding: 0;

    /* Header */
    /* Colored header bar, always shown, also when annotation is collapsed */
    .pnd-annotation-details-header {
        vertical-align: middle;
        line-height: @annotation-header-height;
        height: @annotation-header-height;
        width: @annotation-sidebar-width;
        background-color: @color-annotation-header;
        // #gradient > .horizontal-three-colors(darken(@color-annotation-header, 5); @color-annotation-header; 1%; @color-annotation-header);
        color: @color-annotation-header-text;
        cursor: pointer;

        /* Text string shown... */
        .pnd-annotation-item-header-text {

            .pnd-annotation-icon-color .pnd-icon {
                display: inline-block;
                margin-top: 7px;
                opacity: .7;
                vertical-align: top;
            }

            .pnd-item-title {
                display: inline-block;
                margin-top: 1px;
                vertical-align: top;
                .text-dark-emboss();
            }
        }

        &:hover {
            background-color: darken(@color-annotation-header, 5%);
            // #gradient > .horizontal-three-colors(darken(darken(@color-annotation-header, 5%), 5); darken(@color-annotation-header, 5%); 1%; darken(@color-annotation-header, 5%));
        }

        &.pnd-annotation-details-broken {
            background-color: @color-annotation-broken-header;
            // #gradient > .horizontal-three-colors(darken(darken(@color-annotation-broken-header, 5%), 5); darken(@color-annotation-broken-header, 5%); 1%; darken(@color-annotation-broken-header, 5%));

            &:hover {
                background-color: darken(@color-annotation-broken-header, 5%);
                // #gradient > .horizontal-three-colors(darken(darken(@color-annotation-broken-header, 5%), 5); darken(@color-annotation-broken-header, 5%); 1%; darken(@color-annotation-broken-header, 5%));
            }
        }

        &.pnd-annotation-details-ghosted {
            opacity: 0.4;
        }

        /* Caret */
        .btn {
            color: #fff;
            .text-dark-emboss();

            &:hover,
            &:active,
            &:focus {
                color: #fff;
            }
        }
    }


    /* Menu (meta, reply, share) */
/*    .pnd-annotation-details-menu {
        background-color: lighten(@gray-extra-light, 10%);
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        overflow: hidden;

        span .btn {
            float: left;
            border: 0;
            color: @gray-dark;
            background-color: lighten(@gray-extra-light, 10%);
            line-height: 0;
            height: 24px;
            width: 100px;
            padding: 0 8px;
            margin-left: 0;

            &:hover {
                background-color: @gray-extra-lighter;
                color: @gray-dark;
            }

            &.pnd-annotation-details-menu-btn-active {
                background-color: @gray-extra-lighter;
                color: @gray-dark;
            }
        }

        span ~ span .btn {
            border-left: 1px solid #fff;
            display: inline !important;
            border-right: 0;
        }
    }*/




    /* Footer, contains buttons and the bottom
     of the expanded annotation */
    /*
    .pnd-annotation-details-footer {
        overflow: hidden;
        background-color: #FFF;

        button {
            display: block;
            float: left;
        }
    }
    */



    /* Info - Note */
    /*
    .pnd-annotation-details-info {
        background-color: @gray-extra-lighter;
        border-bottom: 1px solid @gray-extra-light;
        padding: 10px;
    }
    */


    /* Annotation content */
    /* Content of the annotation: metadata and triples */
    .pnd-annotation-details-container {
        width: @annotation-sidebar-width;
        background-color: #fff;
        // #gradient > .horizontal-three-colors(#e8e8e8; #fff; 2%; #fff);

        /* Meta toggle */
        .pnd-annotation-details-meta {
            width: @annotation-sidebar-width;
            background-color: @gray-lighter;
            // #gradient > .horizontal-three-colors(#e3e3e3; @gray-lighter; 2%; @gray-lighter);
            border-bottom: 1px solid @color-border-light;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;

            .pnd-annotation-details-item-header {
                height: 24px;
                line-height: 24px;
                cursor: pointer;

                /* When it's open */
                &.pnd-annotation-details-sub-open {
                    border-bottom: 1px solid @color-border-light;
                    box-shadow: 0 1px 0 #F7F7F7;
                }

                .pnd-annotation-item-header-text {
                    padding-left: 8px;
                    .text-white-emboss();
                }

                .btn {
                    color: @color-text;
                    .text-white-emboss();

                    &:hover {
                        color: @color-text;
                    }
                }
            }

            /* Metadata */
            .pnd-sub-info {
                padding: 5px 10px;
                overflow-y: hidden;
                color: @color-text;
                font-size: 11px;
                line-height: 1.7;
            }
        }

        /* Triples of the annotation */
        .pnd-annotation-details-content {
            .pnd-annotation-details-item {
                /* Separator between more triples */
                border-bottom: 3px double @color-border-light;
                &:last-child {
                    border-bottom: 0;
                }

                /*
                & + .pnd-annotation-details-item {
                    border-top: 2px solid @gray-extra-light;
                }
                */
                .pnd-annotation-details-item-header {
                    line-height: 24px;
                    height: 24px;
                    cursor: pointer;

                    &.pnd-annotation-details-sub-open {
                        border-bottom: 1px solid @color-border-light;
                    }

                    .pnd-annotation-item-header-text {
                        padding-left: 8px;
                    }

                    .btn {
                        color: @color-text;

                        &:hover {
                            color:@color-text;
                        }
                    }
                }

                .pnd-annotation-details-subject,
                .pnd-annotation-details-predicate,
                .pnd-annotation-details-object {
                    background-color: transparent;
                    width: @annotation-sidebar-width;

                    .pnd-sub-info {
                        padding: 0;
                        max-height: 200px;
                        overflow-y: auto;
                    }
                }

                .pnd-annotation-details-subject {
                    border-bottom: 1px solid @color-border-light;
                    .pnd-annotation-details-item-header {
                        .pnd-icon {
                            color: @subject-color;
                        }
                    }
                }

                .pnd-annotation-details-predicate {
                    border-bottom: 1px solid @color-border-light;
                    .pnd-annotation-details-item-header {
                        .pnd-icon {
                            color: @predicate-color;
                        }
                    }
                }

                .pnd-annotation-details-object {

                    .pnd-annotation-details-item-header {
                        .pnd-icon {
                            color: @object-color;
                        }
                    }
                }

                .pnd-annotation-details-deactive {
                    cursor: default;
                }
            }
        }
    }

    /* Preview of literal in annotation details */
    .pnd-annotation-details-literal {
        display: block;
        padding: 10px;
    }
}


/* ------------------------------------ *\
   #SIDEBAR-COLLAPSED
\* ------------------------------------ */

.pnd-annotation-sidebar-collapsed {

    [class^="pnd-icon"] + [class*="pnd-icon-"], .pnd-annotation-icon-color {
        display: none;
    }

    .pnd-saving-content {
        display: none;
    }

    .pnd-annotation-details-header {
        width: @annotation-sidebar-coll-width;
        background-color: @color-annotation-header;
        // #gradient > .horizontal-three-colors(darken(@color-annotation-header, 9); @color-annotation-header; 50%; @color-annotation-header);

        &:hover {
            background-color: darken(@color-annotation-header, 5%);
            // #gradient > .horizontal-three-colors(darken(darken(@color-annotation-header, 5%), 9); darken(@color-annotation-header, 5%); 50%; darken(@color-annotation-header, 5%));
        }

        &.pnd-annotation-details-broken {
            background-color: @color-annotation-broken-header;
            // #gradient > .horizontal-three-colors(darken(@color-annotation-broken-header, 9); @color-annotation-broken-header; 50%; @color-annotation-broken-header);

            &:hover {
                background-color: darken(@color-annotation-broken-header, 5%);
                // #gradient > .horizontal-three-colors(darken(darken(@color-annotation-broken-header, 5%), 9); darken(@color-annotation-broken-header, 5%); 50%; darken(@color-annotation-broken-header, 5%));
            }
        }

        .pnd-annotation-item-header-text {
            width: @annotation-sidebar-coll-width;
            white-space: normal;
            overflow: hidden;
            text-overflow: inherit;
            display: inline;

            .pnd-item-title {
                display: none;
            }

            .pnd-icon-caret-up,
            .pnd-icon-sort-down {
                display: none;
            }
        }

        .btn {
            display: none;
        }
    }

    .pnd-annotation-icon-color {
        width: 10px;
        padding: 0;
        margin: 0;

        .pnd-icon {
            display: none;
        }
    }

    .pnd-annotation-details-broken {
        width: 10px;
        padding: 0;
        margin: 0;

        .pnd-icon {
            display: none;
        }
    }
}

.pnd-annotation-icon-color {
    height: 24px;
    width: 26px;
    display: inline-block;
    text-align: center;
}

.pnd-annotation-details {
    position: absolute;
}

/* ------------------------------------ *\
   #ANIMATION-TEST
\* ------------------------------------ */

.pnd-annotation-details-ghosted {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}