/**
 * ANNOTATION SIDEBAR
 *
 * Styles related to the sidebar on the right containing the annotations.
 * For styles related to the single annotations please refer to annotation.less
 */


/* ------------------------------------ *\
   #ANNOTATION-SIDEBAR
\* ------------------------------------ */
.pnd-annotation-sidebar-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: @toolbar-height;
    height: 100%;
    z-index: @zindex-pnd-annotation-sidebar;
    display: block;
    background-color: @sidebar-bg-color;
    border-left: @sidebar-border-size solid @sidebar-border-color;
}

.pnd-annotation-sidebar-content {
    padding: 0;
}

.pnd-annotation-sidebar-container.pnd-annotation-sidebar-collapsed {
    width: @annotation-sidebar-coll-width;
}

.pnd-annotation-sidebar-container.pnd-annotation-sidebar-expanded {
    width: @annotation-sidebar-exp-width;
}

.pnd-annotation-sidebar-annotations {
    margin-top: 26px;
}

.pnd-annotation-details-delete-in-progress {
    opacity: 0.4;
}


/* ------------------------------------ *\
   #ANNOTATIONS-SIDEBAR-HEADER
\* ------------------------------------ */
/* Fixed header on top of sidebar */
.pnd-annotation-sidebar-header {
    position: fixed;
    top: @toolbar-height;
    width: @annotation-sidebar-exp-width;
    z-index: 3;

    /* Tabs for selecting ann-o-matic */
    .pnd-tab-header {
        padding-top: 4px;
        padding-left: 4px;
    }
}


/* ------------------------------------ *\
   #FILTERS
\* ------------------------------------ */

/* Top button to show/hide filters */
.pnd-annotation-sidebar-btn-show-filter, .pnd-annotation-sidebar-btn-close-filters {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    background-color: #FFF !important;
    border-bottom: 1px solid @color-border-normal;
    color: @color-text !important;
    line-height: 26px;
}


/* ----- */
.pnd-annotation-sidebar-filter-content {
    text-align: center;
    position: relative;

    & ~ button {
        margin-top: 10px !important;
    }

    /* Buttons that open/close the filters */
    .pnd-annotation-sidebar-btn-show-filter, .pnd-annotation-sidebar-btn-close-filters {
        position: relative;
        text-align: left;
        font-size: 13px;

        &:hover {
            background-color: #FFF !important; // Fix CSS conflicts
        }

        span {
            position: absolute;
            right: 10px;
            top: 9px;
            color: @color-dark-gray;
            &:hover {
                color: @color-brand;
            }
        }
    }
}

/* Input field for free text search in annotations */
.pnd-annotation-sidebar-filter-input, .pnd-annotation-sidebar-filter-input-contains {
    padding: 10px;
    position: relative;

    .pnd-icon {
        box-sizing: border-box;
        position: absolute;
        right: 9px;
        top: 9px;
        padding: 7px;
        color: @color-text-form-placeholder;
        cursor: pointer;
    }
}

/* Overlay behind active filters */
.pnd-annotation-details-opacity {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.pnd-annotation-sidebar-filters-list {
    background-color: @color-background-light;
    text-align: left;

    /* Each filter parameter */
    .pnd-annotation-sidebar-filter {
        border-top: 1px solid @color-border-normal;
        width: @annotation-sidebar-exp-width;

        /* Displays the name of the parameter and caret icon */
        .pnd-panel {
            font-weight: @font-weight-bold;
            cursor: pointer;

            /* Filter's text label */
            .pnd-annotation-sidebar-filter-label {
                width: @annotation-sidebar-exp-width - 24;
                display: inline-block;
                padding: 6px 0 6px 10px;
                font-size: 13px;
            }

            /* Filter's toggle icon */
            .pnd-annotation-sidebar-filter-label + .pnd-icon {
                color: @color-dark-gray;
                &:hover {
                    color: @color-brand;
                }
            }
        }
    }

    /* Filter for broken annotations */
    .pnd-annotation-sidebar-filter-broken {
        padding: 6px 6px 6px 10px;
        border-top: 1px solid @color-border-normal;
        width: @annotation-sidebar-exp-width;
        font-weight: @font-weight-bold;
        font-size: 13px;
        cursor: pointer;
    }

    /* Content of the filter when it is open */
    .pnd-annotation-sidebar-filter-show {

        .pnd-annotation-sidebar-filter-input {
            padding: 0 10px;

            &.pnd-annotation-sidebar-current-filter-active {
                display: block;
            }
        }

        input {
            margin: 0 0 8px 0;
            padding-right: 24px;
        }

        .pnd-icon {
            top: 0;
        }

        .pnd-annotation-sidebar-filter-element {
            border-bottom: 1px solid @color-border-light;
        }
    }

    /* Single filter element to select */
    .pnd-annotation-sidebar-filter-element {
        margin: 0px 10px 4px 15px;
        padding-bottom: 4px;
        font-size: 12px;
        cursor: pointer;

        &.pnd-annotation-sidebar-current-filter-active {
            display: block;
            font-weight: @font-weight-bold;
        }

        &.pnd-annotation-sidebar-current-filter-empt-red {
            color: @color-text-error;
            display: block;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    /* Scrolling area with max height */
    .pnd-sidebar-filter-scroll {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    /* Visibility toggle */

    /* Hidden elements when the filter is closed */
    .pnd-annotation-sidebar-filter-label {
        display: none;
    }

    .pnd-annotation-sidebar-filter-input {
        display: none;
    }

    .pnd-annotation-sidebar-filter-element {
        display: none;
    }

    /* Shown elements */
    .pnd-annotation-sidebar-filter-show .pnd-annotation-sidebar-filter-element {
        display: block;
    }

    .pnd-annotation-sidebar-filter-show  .pnd-annotation-sidebar-filter-input {
        display: block;
    }

    .pnd-annotation-sidebar-filter-show  .pnd-annotation-sidebar-filter-label {
        display: block;
    }
}

/* Date set by the user */
.pnd-annotation-sidebar-filter-date {
    padding: 0 10px 0 10px;
    font-size: 11px;

    span {
        margin-bottom: 10px;
        display: inline-block;
    }
}

/* Footer of filters section */
.pnd-annotation-footer-sidebar-filter {
    height: 33px;
    text-align: right;
    padding-top: 4px;
    padding-right: 4px;
    background-color: @color-background-base;
    border-top: 1px solid @color-border-normal;
    border-bottom: 1px solid @color-border-normal;
}


/* ------------------------------------ *\
   #ANNOMATIC
\* ------------------------------------ */
/* Refer to annomatic.less */


/* ------------------------------------ *\
   #LOADING-OVERLAY
\* ------------------------------------ */
/* Overlay shown while annotations re loaded */
.pnd-saving-content {
    text-align: center;
    position: fixed;
    z-index: 99; // TODO Fix this with a variable for Z-index
    background-color: @sidebar-overlay-color;
    right: 0;
    width: @annotation-sidebar-exp-width;
    top: @toolbar-height;
    bottom: 0;
    color: @gray-lighter;

    /* This pseudo element is needed to vertically align the loader inside a position fixed element */
    &:before {
        content: '';
        display: block;
        position: relative;
        vertical-align: top;
        height: 100%;
    }

    /* Contains the loader and text */
    div {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin: -20px auto 0;
        text-align: center;
    }

    .pnd-message {
        text-align: center;
    }

    .pnd-icon {
        color: #fff !important;
    }
}

/* ------------------------------------ *\
   #SIDEBAR-COLLAPSED
\* ------------------------------------ */

.pnd-annotation-sidebar-collapsed {

    [class^="pnd-icon"] + [class*="pnd-icon-"], .pnd-annotation-icon-color {
        display: none;
    }

    .pnd-saving-content {
        display: none;
    }

    .pnd-annotation-details-header {
        width: 10px;
        height: 22px;
        margin-left: 2px;
        background-color: #FFF; // @annotation-bg-color;
        border: 1px solid @annotation-border-color;
        border-radius: @annotation-border-radius;
        box-shadow: 0 0 0;

        &:after {
            content: '';
            width: 6px;
            height: 18px;
            background: @color-highlight;
            display: block;
            margin: 1px;
        }

        &:hover {
            &:after {
                background: @color-highlight-hover;
            }
        }

        /* Child elements are not displayed in collapsed annotations */
        & > div {
            display: none;
        }

        /* Unanchored annotation */
        /*&.pnd-annotation-details-broken {
            background-color: @annotation-bg-color;

            &:hover {
                background-color: darken(@annotation-bg-color, 5%);
            }
        }*/
    }

    /* Has social */
    /* Height of collapsed annotation with social features */
    .pnd-annotation-has-social {
        .pnd-annotation-details-header {
            // height: @annotation-collapsed-header-height + @annotation-social-buttons-height + 2px; // 2px = borders // @annotation-collapsed-height;
            height: 32px;

            &:after {
                content: '';
                height: 28px;
            }
        }
    }
}