/**
 * ANNOTATION POPOVER
 *
 * Style of annotation popover
 */

/* ------------------------------------ *\
   #ANNOTATION-POPOVER
\* ------------------------------------ */

.popover.pnd-popover-literal.pnd-annotation-popover { /* Here we fight for specificity */
    height: 50px;
    min-height: 50px;
}


/* ------------------------------------ *\
   #LOGIN-POPOVER
\* ------------------------------------ */

/* Suggests the user to login */
.popover.pnd-popover-literal.pnd-annotation-popover {
    &.pnd-annotation-popover-login {
        height: 45px;
        min-height: 45px;

        .popover-content {
            height: 45px;
            padding: 0;
            font-size: 13px;
            line-height: 45px;
            text-align: center;
        }
    }
}


/* ------------------------------------ *\
   #ANNOTATE-POPOVER
\* ------------------------------------ */

/* User choose if he want to highlight or comment */
.popover.pnd-popover-literal.pnd-annotation-popover {
    &.pnd-annotation-popover-annotate {
        height: 30px;
        width: 199px;
        min-height: 30px;
        min-width: 199px;

        .popover-content {
            padding: 0;

            a {
                display: block;
                float: left;
                width: 98px;
                height: 30px;
                padding: 0;
                font-size: 13px;
                font-weight: @font-weight-bold;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                
                &:hover {
                    color: @color-text-link-hover;
                    text-decoration: none;
                }
            }
            
            .pnd-annotation-popover-separator {
                display: block;
                position: relative;
                float: left;
                width: 1px;
                height: 30px;
                background-color: @color-light-gray;
            }
        }
    }

    &.top .popover-content {
        .pnd-annotation-popover-separator {
            height: 38px;
        }
    }

    &.bottom  .popover-content {
        .pnd-annotation-popover-separator {
            height: 38px;
            top: -8px;
        }
    }
}


/* ------------------------------------ *\
   #COMMENT-HIGHLIGHT-POPOVER-COMMONS
\* ------------------------------------ */

.popover.pnd-popover-literal.pnd-annotation-popover {
    &.pnd-annotation-popover-comment, &.pnd-annotation-popover-highlight {
        width: @annotation-popover-comment-width;
        min-width: @annotation-popover-comment-width;

        /* Footer with buttons */
        .popover-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            padding-top: 7px;
            padding-right: 7px;
            text-align: right;
            border-top: 1px solid @color-border-normal;

            .pnd-btn {
                margin-right: 7px;
            }
        }

        /* Notebook selector */
        .popover-notebooks {
            position: absolute;
            bottom: 39px;
            height: 39px;
            width: @annotation-popover-comment-width - 2;
            background-color: @color-background-light;

            .popover-notebooks-copy {
                display: block;
                float: left;
                width: 110px;
                margin-left: 10px;
                font-size: 13px;
                line-height: 40px;
            }

            .pnd-select {
                width: @annotation-popover-comment-width - 140px;
                margin-top: 5px;
                z-index: 2;
            }
        }
    }
}


/* ------------------------------------ *\
   #COMMENT-POPOVER
\* ------------------------------------ */

.popover.pnd-popover-literal.pnd-annotation-popover {
    &.pnd-annotation-popover-comment {
        height: 250px;
        min-height: 250px;

        /* Notebook selector */
        .popover-notebooks {
            border-top: 1px solid @color-border-normal;
        }

        .pnd-popover-literal-textarea {
            height: 148px;
            resize: none;
        }
    }
}


/* ------------------------------------ *\
   #HIGHLIGHT-POPOVER
\* ------------------------------------ */

.popover.pnd-popover-literal.pnd-annotation-popover {
    &.pnd-annotation-popover-highlight {
        height: 80px;
        min-height: 80px;

        /* Notebook selector */
        .popover-notebooks {
            border-radius: 3px 3px 0 0;
            border: 0;
        }
    }
}


/* ------------------------------------ *\
   #SAVING-AND-ERROR
\* ------------------------------------ */
.pnd-annotation-popover-saving {
    display: table !important;

    .popover-content-wrapper {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
    }
}