/**
 * BUTTONS
 *
 * Style for custom buttons
 */

/* ------------------------------------ *\
   #PUNDIT-BUTTON
\* ------------------------------------ */

/* For generics btn without pnd-btn class -  !IMPORTANT rules here are needed for css overwritings */
//TO DO: find a better way to fix the padding with !important rule issue
 //.btn {
    //min-width: auto;
    //padding: 6px 12px !important;
    //border: none !important;
    //color: inherit !important;
    //border-radius: 0 !important; /* For css overwritngs */
    //background: none;
    //background-image: none !important;

    //i {
    //   color: inherit;
    //}
//}

/*.btn-xs {
    padding: 3px 5px !important;
    text-shadow: none;
}

.pnd-dashboard-footer-handler + .btn-xs,
.pnd-dashboard-panel-collapsed-content + .btn-xs {
    background-color: rgb(255,255,255) !important;
}*/
/* ------------------------------------ *\
   #BUTTONS
\* ------------------------------------ */

// Common styles
/*.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    //text-shadow: none;

    // Reset the shadow
    &:active,
    &.active {
        //box-shadow: none;
    }
}

.btn-xs {
    //line-height: normal;

    .pnd-icon {
        //font-size: 14px;
    }
}*/

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
    .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners
    background-repeat: repeat-x;
    outline: 0 !important;
    box-shadow: none;

    &:hover,
    &:focus {
        background-color: darken(@btn-color, 12%);
        background-position: 0 -15px;
        outline: 0;
    }

    &:active,
    &.active {
        background-color: darken(@btn-color, 12%);
        border-color: darken(@btn-color, 14%);
        outline: 0;
        box-shadow: none;
    }
}


// Apply the mixin to the buttons
//TO DO: CONSIDER IF these classes can be used customized in Pundit
.pnd-btn-default {
    .btn-styles(@btn-default-bg);
    text-shadow: 0 1px 0 #fff;
    border-color: #ccc;
}

.pnd-btn-primary {
    .btn-styles(@btn-primary-bg);
}

.pnd-btn-success {
    .btn-styles(@btn-success-bg);
}

.pnd-btn-info {
    .btn-styles(@btn-info-bg);
}

.pnd-btn-warning {
    .btn-styles(@btn-warning-bg);
}

.pnd-btn-danger {
    .btn-styles(@btn-danger-bg);
}

/* Default button */
.pnd-btn {
    width: auto; /* for css conflicts */
    height: auto; /* for css conflicts */
    min-width: auto;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 10px; //    padding: 6px 12px !important;
    .vertical-gradient(@color-button-bg, @button-gradient-level);
    border: 0;
    border-radius: 0;
    background: none;
    background-image: none;
    outline: 0; //!important
    color: @color-button-text-dark;
    .text-white-emboss();
    font-size: 12px;
    font-weight: @btn-font-weight;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: none;

    &:hover,
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: none;
        .vertical-gradient(darken(@color-button-bg, 5), @button-gradient-level);
    }
    // Remove the gradient for the pressed/active state
    &:active,
    &.active {
        background-image: none;
        box-shadow: none;
        outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
        color: fade(@color-button-text-dark, 50%); //!important
        pointer-events: none; // Future-proof disabling of clicks
        .vertical-gradient(lighten(@color-button-bg, 20), @button-gradient-level);
    }

    i {
        color: inherit;
    }
}

/* Smaller buttons */
.pnd-btn-small {
    height: 22px;
    font-size: 11px;
    padding-bottom: 2px;
}

/* X-small buttons */
.pnd-btn-xs {
    padding: 3px 5px; //!important
    text-shadow: none;
    line-height: normal;

    .pnd-icon {
        font-size: 14px;
    }
}

.pnd-dashboard-footer-handler + .pnd-btn-xs,
.pnd-dashboard-panel-collapsed-content + .pnd-btn-xs {
    background-color: rgb(255,255,255);//!important
}

/* ------------------------------------ *\
   #CALL-TO-ACTION-BUTTON
\* ------------------------------------ */

/* Usually green button */
.pnd-btn-calltoaction {
    .vertical-gradient(@color-button-bg-cta, @button-gradient-level);
    color: @color-button-text-light;
    .text-dark-emboss();

    &:hover,
    &:focus,
    &.focus {
        .vertical-gradient(darken(@color-button-bg-cta, 5), @button-gradient-level);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: fade(@color-button-text-light, 60%);//!important
        text-shadow: none;
        .vertical-gradient(lighten(@color-button-bg-cta, 20), @button-gradient-level);
    }
}


/* ------------------------------------ *\
   #DARK
\* ------------------------------------ */

.pnd-btn-dark {
    .vertical-gradient(@color-button-bg-dark, @button-gradient-level);
    color: @color-button-text-light;
    .text-dark-emboss();

    &:hover,
    &:focus,
    &.focus {
        .vertical-gradient(darken(@color-button-bg-dark, 5), @button-gradient-level);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: fade(@color-button-text-light, 20%);//!important
        text-shadow: none;
        .vertical-gradient(darken(@color-button-bg-dark, 7), @button-gradient-level);
    }
}

/* ------------------------------------ *\
   #TRANSPARENT-BG-BUTTON
\* ------------------------------------ */

.pnd-btn-transparent {
    background-color: transparent;
    background-image: none;
    color: @color-text;
    text-shadow: none;

    &:hover,
    &:focus,
    &.focus {
        background-color: transparent;
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        background-image: none;
        color: fade(@color-text, 60%);//!important
        text-shadow: none;
    }
}

/* ------------------------------------ *\
   #SEMANTIC-BUTTONS
\* ------------------------------------ */
/* Buttons with custom colors for Subject, Object, Predicate */

/* Subject button */
.pnd-btn-subject {
    .vertical-gradient(@subject-color, @button-gradient-level);
    color: @color-button-text-light;
    .text-dark-emboss();

    &:hover,
    &:focus,
    &.focus {
        .vertical-gradient(darken(@subject-color, 5), @button-gradient-level);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: fade(@color-button-text-light, 60%);//!important
        text-shadow: none;
        .vertical-gradient(lighten(@subject-color, 20), @button-gradient-level);
    }

}

/* Predicate button */
.pnd-btn-predicate {
    .vertical-gradient(@predicate-color, @button-gradient-level);
    color: @color-button-text-light;
    .text-dark-emboss();

    &:hover,
    &:focus,
    &.focus {
        .vertical-gradient(darken(@predicate-color, 5), @button-gradient-level);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: fade(@color-button-text-light, 60%);//!important
        text-shadow: none;
        .vertical-gradient(lighten(@predicate-color, 20), @button-gradient-level);
    }

}

/* Object button */
.pnd-btn-object {
    .vertical-gradient(@object-color, @button-gradient-level);
    color: @color-button-text-light;
    .text-dark-emboss();

    &:hover,
    &:focus,
    &.focus {
        .vertical-gradient(darken(@object-color, 5), @button-gradient-level);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        color: fade(@color-button-text-light, 60%);//!important
        text-shadow: none;
        .vertical-gradient(lighten(@object-color, 20), @button-gradient-level);
    }
}

/* ------------------------------------ *\
   #LINK-BUTTONS
\* ------------------------------------ */

// Make a button look and behave like a link
.pnd-btn-link {
    color: @gray;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0;
    line-height: 0; // PND ADD

    &:hover {
        color: @color-text;
        text-decoration: none;
        background-color: transparent;
    }

    &:focus {
        text-decoration: none;
        background-color: transparent;
    }
}

/* ------------------------------------ *\
   #AVAILABLE-WIDTH-FILL-BUTTONS
\* ------------------------------------ */

/*
The buttons with the class "pnd-btn-fill-width" always
try to fill the available with.
This class works for one, two or three buttons but
can be extended to support more buttons
*/

/* One button */
.pnd-btn-fill-width:first-child:nth-last-child(1) {
    width: 100%;
}

/* Two buttons */
.pnd-btn-fill-width:first-child:nth-last-child(2),
.pnd-btn-fill-width:first-child:nth-last-child(2) ~ .pnd-btn-fill-width {
    width: 50%;
}

/* Three buttons  */
.pnd-btn-fill-width:first-child:nth-last-child(3),
.pnd-btn-fill-width:first-child:nth-last-child(3) ~ .pnd-btn-fill-width {
    width: 33.3333%;
}

/* For disabled buttons */
button.disabled,
button[disabled] {
    opacity: 1;
}