/**
 * PREVIEW PANEL
 *
 * Styles for preview panel on the right of the dashboard
 */

/* ------------------------------------ *\
   #PREVIEW
\* ------------------------------------ */

.pnd-preview-item-description,
.pnd-preview-item-allLables,
.pnd-preview-welcome {
    padding: 5px 10px;
}

.pnd-preview-notebook-visibility,
.pnd-preview-notebook-annotations,
.pnd-preview-notebook-creator,
.pnd-preview-notebook-date,
.pnd-preview-notebook-current {

    .pnd-icon {
        font-size: 14px;
        color: @gray;
        vertical-align: bottom;
    }
}

/* Container of details of previewed element */
.pnd-annotation-preview-item-container {
    font-size: 13px;
    word-wrap: break-word;
}

/* Image preview */
.pnd-preview-item-image {
    padding: 10px 10px 0 10px;
    float: left;
    max-width: 50%;
    position: relative;

    img {
        border: 1px solid @color-border-normal;
        padding: 2px;
        width: 100%;
    }
}

.pnd-preview-item-webpage {
    padding: 0 10px 10px 10px;
}

/* Types of entities */
.pnd-preview-item-types {
    clear: both;
    overflow: hidden;
    position: relative;

    .pnd-icon.pnd-type {
        padding: 0 4px;

        position: absolute;
        right: 5px;
        top: 10px;

        font-size: 14px;
        cursor: pointer;
    }

    ul {
        padding: 10px;
        margin: 0 14px 0 0;
        list-style: none;

        li.pnd-type {
            float: left;
        }
    }
}

&.pnd-item-image {

    .pnd-preview-item-image {
        float: none;

        img {
            max-width: 100%;
        }
    }
}


/* ------------------------------------ *\
   #PREDICATE-PREVIEW
\* ------------------------------------ */
.pnd-preview-item-predicate {

    border-top: 1px solid @color-border-normal;
    margin: 10px 10px 5px 10px;
    padding-top: 13px;

    h1 {
        font-size: 13px;
        font-weight: @font-weight-bold;
    }

    ul {
        margin: 0;
        font-size: 12px;
    }
}

/* More links at the bottom of the preview */
.pnd-preview-bottom-links {
    display: block;
    float: left;
    padding: 5px 0 10px 10px;
}


/* ------------------------------------ *\
   #GENERAL-ELEMENTS
\* ------------------------------------ */

/* General labels and details used in the Preview */
.pnd-preview-detail {
    margin-bottom: 10px;
}

.pnd-preview-detail-label {
    display: block;
    font-weight: @font-weight-bold;
}

.pnd-preview-detail-content {
    display: block;
    font-weight: @font-weight-normal;
}


/* ------------------------------------ *\
   #NOTEBOOK-PREVIEW
\* ------------------------------------ */

.pnd-preview-notebook {
    padding: 10px;
    font-size: 13px;
}