/**
 * TABLE
 *
 * Style for tables
 */

/* ------------------------------------ *\
   #ABOUT-PUNDIT-TABLE
\* ------------------------------------ */
.pnd-table-about {
    margin-bottom: 0;

    tr td {
        padding: 5px;
        border: 0;
    }

    .modal-field-label {
        font-weight: 900;
    }
}