/**
 * TABS
 *
 * Style for horizontal and vertical tabs
 */

// TODO and Important: the style for tabs is dispersed in the code, lets move it here!

/* ------------------------------------ *\
   #TABS
\* ------------------------------------ */

.tabs {
    margin-bottom: 0;
    padding: 0;
    position: static;
    overflow: visible;
    border: none;
    font-family: inherit;

    ul {
        display: block;
        width: auto;
    }

    li {
        margin-right: 0;
        margin-left: 0;

        //&.show-tabs a {
        //    padding-bottom: 5px;
        //}
    }

    &.pnd-dashboard-panel-content > .pnd-tab-header {
            padding-top: 3px;
        }

    .pnd-panel-tab-content {

        .nav-tabs li {
            float: left;
        }

    }

    .pnd-panel-tab-content-content li {
        display: block;
        float: none;
    }

    .dropdown-menu {

        li {
            width: 100%;

            a {
                width: 100%;
            }
        }
    }

    .nav-tabs .dropdown-menu {

        li {
            float: none;
        }
    }


    a {
        padding-bottom: 0;
        border-bottom: none;
        position: static;
        top: 0; /* In case of position overwriting */
        font-size: inherit;
        transition: initial;
    }

    > div {
        width: auto;
        padding: 0;
    }

    .tab-content {
        display: block;
        clear: none; /* CSS conflicts fix */

        .pnd-tab-header {

            &.pnd-hidden-tabs {

                .show-tabs a {
                    padding-top: 5px;
                    padding-bottom: 2px;
                }

                .show-tabs.active a {
                    padding-top: 3px;
                    padding-bottom: 2px;
                }
            }
        }

        .tab-pane {
            display: none;
            margin-bottom: 30px;
        }

        .active {
            display: block;
        }

    }
}



/* ------------------------------------ *\
   #VERTICAL-TABS
\* ------------------------------------ */

.tabs-left .nav-tabs {
    float: left;
    border-bottom: 0;
    background-color: lighten(@gray-lighter, 2);

    /* Single item */
    & > li {
        float: none;

        .pnd-icon {
            margin: 2px 4px 0 0;
        }

        .badge {
            padding: 3px 7px;
            font-size: 10px;
            font-weight: normal;
            background-color: lighten(@gray-light, 10%);
            border-radius: 8px;
        }

        & > a {
            min-width: 150px;
            margin-right: 0;
            margin-bottom: 1px;
            background-color: @gray-lighter;
            color: @gray;
            border-bottom: 1px solid #fff;

            &:hover, &:focus {
                color: @gray-darker;
                background-color: darken(@gray-lighter, 3%);
                border-bottom: 1px solid #fff;

                .badge {
                    background-color: lighten(@gray, 20%);
                }
            }
        }

        /* The currently active item */
        &.active {
            & > a {
                background-color: #fff;
                cursor: default;
                border-bottom: 1px solid #fff;
                box-shadow: none;

                &:hover, &:focus {
                    color: @gray;
                    background-color: #fff;
                    border-bottom: 1px solid #fff;

                    .badge {
                        background-color: lighten(@gray, 20%);
                    }
                }
            }

            .badge {
                background-color: lighten(@gray, 20%);
            }
        }
    }
}

/* ------------------------------------ *\
   #TEMP FIX FOR TABS LIST
\* ------------------------------------ */

.pnd-tab-header {
    height: 27px;
    overflow-y: hidden;
}
