<header class="pundit-top-header">
    <div id="pundit-logo">
        <a href="/pundit2/">
            <img src="img/pundit-logo@2x.png" alt="Logo" height="24">
        </a>
    </div>

    <div class="pundit-mobile-menu-toggle"></div>

    <ul id="main-menu" class="sm sm-clean">

        <li><a href="/pundit2/">Home</a></li>
        <li><a href="#">Use Pundit</a>
            <ul>
                <li><a href="embed-pundit.html">Embed Pundit</a></li>
                <li><a href="feed.html">Feed the Pundit</a></li>
                <li><a href="resource.html">Resource annotation</a></li>
                <li><a href="xmltei.html">XML-TEI annotation</a></li>
            </ul>
        </li>
        <li><a href="#">Pundit Annotator</a>
            <ul>
                <li><a href="client-installation.html">Installing Pundit Annotator</a></li>
                <li><a href="client-configuration.html">Configuration</a></li>
                <li><a href="http://dev.thepund.it/download/client/last-beta/docs/index.html#!/api/punditConfig" target="_blank">Online documentation</a></li>
            </ul>
        </li>
        <li><a href="#">Annotations server</a>
            <ul>
                <li><a href="as-introduction.html">Introduction</a></li>
                <li><a href="as-installation.html">Installing the Annotation Server</a></li>
                <li><a href="as-dashboard-installation.html">Installing the Pundit Dashboard</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/10XXQ5KrFZbFqKxiFhuVBQrWdSxbXd85cCYYmrXE23QQ/edit?usp=sharing" target="_blank">Pundit Web Annotation data model</a></li>
                <li><a href="rest-api.html">REST API documentation</a></li>
            </ul>
        </li>
        <li><a href="#">Coding guidelines</a>
            <ul>
                <li><a href="css-style-guide.html">CSS</a></li>
                <li><a href="javascript.html">Javascript</a></li>
            </ul>
        </li>

    </ul>

</header>