
<section class="page-header">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Annotations server</a></li>
        <li><a href="">Online documentation</a></li>
        <li><a href="">Coding guidelines</a></li>
    </ul>
    <h1 class="project-name">Pundit</h1>
    <h2 class="project-tagline">Semantic web annotations</h2>
    <a href="https://github.com/net7/pundit2" class="btn">View on GitHub</a>
    <a href="https://github.com/net7/pundit2/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/net7/pundit2/tarball/master" class="btn">Download .tar.gz</a>
</section>