<header class="pundit-top-header">
    <div id="pundit-logo">
        <a href="/pundit2/">
            <img src="img/pundit-logo@2x.png" alt="Logo" height="24">
        </a>
    </div>

    <div class="pundit-mobile-menu-toggle"></div>

    <ul id="main-menu" class="sm sm-clean">

        <li><a href="/pundit2/">Home</a></li>
        <li><a href="#">Use Pundit</a>
            <ul>
                <li><a href="embed-pundit.html">Embed Pundit</a></li>
                <li><a href="feed.html">Feed the Pundit</a></li>
            </ul>
        </li>
        <li><a href="#">Annotations server</a>
            <ul>
                <li><a href="as-installation.html">Installing the server</a></li>
                <li><a href="data-model.html">Annotations data model</a></li>
                <li><a href="rest-api.html">REST API documentation</a></li>
            </ul>
        </li>
        <li><a href="http://demo-cloud.as.thepund.it/pundit2/build/docs/" target="_blank">Online documentation</a></li>
        <li><a href="#">Coding guidelines</a>
            <ul>
                <li><a href="css-style-guide.html">CSS</a></li>
                <li><a href="javascript.html">Javascript</a></li>
            </ul>
        </li>

    </ul>

</header>

<section class="page-header">
    <h1 class="project-name">Pundit</h1>
    <h2 class="project-tagline">Semantics powered web annotations</h2>
    <a href="https://github.com/net7/pundit2" class="btn">View Pundit Client on GitHub</a>
    <a href="https://github.com/net7/pundit2/zipball/master" class="btn">Download Pundit Client .zip</a>
    <a href="http://release.server.thepund.it/annotationserver-1.6.2.zip" class="btn">Download Annotation Server 1.6.2 .zip</a>
    <a href="http://thepund.it/license/" class="btn" target="_blank">License</a>
</section>
