<!-- Reply read mode -->
<div class="pnd-annotation-reply" ng-show="data.showReply">

    <!-- Default user's thumb -->
    <div class="pnd-annotation-user-thumb-default"
            ng-show="data.defaultThumb">

    </div>

    <!-- User's thumb -->
    <img class="pnd-annotation-user-thumb"
         ng-hide="data.defaultThumb"
         src="{{::data.thumbnail}}" width="20" height="20"
         alt="{{::data.creatorName}}"/>

    <!-- Edit Menu -->
    <div class="pnd-icon-angle-down pnd-annotation-edit-toggle"
         ng-click="menuEdit($event);"
         style="float:right"
         ng-if="isUserToolShowed()">
    </div>

    <!-- Reply content -->
    <div class="pnd-annotation-reply-content">

        <div class="pnd-annotation-reply-text">
            <span class="pnd-annotation-user">{{::data.creatorName}}</span> <span ng-bind-html="data.content | linky:'_blank'"></span>
        </div>

        <div class="pnd-annotation-reply-footer">
            <div class="pnd-annotation-reply-date">
                {{::data.created}}
            </div>
            <div class="annotation-details-footer-buttons pnd-annotation-social-buttons"
                 id="{{::annotation.id}}"
                 data="data"
                 options="options">
            </div>
        </div>

    </div>

</div>
<!-- END // Reply read mode -->

<!-- Reply edit mode -->
<div class="pnd-annotation-comment-text-edit"
     ng-if="editMode">

    <textarea
            class="form-control pnd-popover-literal-textarea"
            rows="6"
            ng-click="areaClick($event)"
            ng-model="data.content">
    </textarea>

</div>
<!-- Save or cancel of comment in Edit mode -->
<div
        class="pnd-annotation-comment-text-edit-buttons"
        ng-show="isUserToolShowed()"
        ng-if="editMode">
    <button
            type="button"
            class="pnd-btn pnd-btn-small"
            ng-click="cancelEdit($event)">
        Cancel
    </button>
    <button
            type="button"
            class="pnd-btn pnd-btn-small pnd-btn-calltoaction"
            ng-click="saveEdit($event)">
        Save
    </button>
</div>
<!-- END // Reply edit mode -->
