<div class="pnd-annotation-details-wrap pnd-annotation-semantic pnd-ignore">

    <!-- Collapsed view of the annotation -->
    <div class="pnd-annotation-collapsed pnd-annotation-details-header pnd-annotation-details-top"
        ng-click="toggleAnnotation()"
        ng-if="!annotation.expanded"
        ng-class="{'pnd-annotation-details-broken': annotation.broken, 'pnd-annotation-details-ghosted': annotation.ghosted}">

        <div class="pnd-annotation-collapsed-subject"
             ng-class="{'pnd-annotation-annotated-fragment': (annotation.mainItem.typeLabel == 'Text fragment'),
                        'pnd-annotation-annotated-resource': (annotation.mainItem.typeLabel == 'resource'),
                        'pnd-annotation-page': (annotation.mainItem.typeLabel == 'WebPage')}">
            <span>{{ annotation.mainItem.label }}</span> <!-- TODO For images instead of "label" we should use the ALT attribute if present -->
        </div>


        <div class="pnd-annotation-collapsed-caret"></div>

        <div class="pnd-annotation-collapsed-object">
            <span>{{ annotation.itemsArray[0].objects[0].label }}</span>
        </div>
    </div>
    <!-- END // Collapsed view of the annotation -->
    <!-- Annotation functions buttons (Edit, Cancel, Share, Reply, Like...) -->
    <div class="pnd-annotation-collapsed pnd-annotation-details-buttons"
         ng-if="!annotation.expanded">
        <div ng-include="'src/AnnotationSidebar/AnnotationDetails.footerButtons.tmpl.html'"
             replace="true"
                >
        </div>
    </div>


    <!-- Expanded view of the annotation -->
    <div class="pnd-annotation-expanded pnd-annotation-details-container"
         ng-click="toggleAnnotation()"
         ng-if="annotation.expanded">

        <!-- Metadata -->
        <div class="pnd-annotation-details-meta"
             ng-init="meta = false">

            <!-- User's thumb -->
            <!-- Currently not displayed... to show with real thumb -->
            <img class="pnd-annotation-user-thumb"
                 src="" width="30" height="30"
                 alt="{{::annotation.creatorName}}"/>

            <!-- Default user's thumb -->
            <div class="pnd-annotation-user-thumb-default"></div>

            <!-- Edit Menu -->
            <div class="pnd-icon-angle-down"
                 ng-click="menuEdit($event);"
                 style="float:right"
                 ng-if="isUserToolShowed() && homePundit">
            </div>

            <span class="pnd-annotation-user-name">
                {{ ::annotation.creatorName }}
            </span>
            <span class="pnd-annotation-metadata">
                {{::annotation.created | date : 'd MMM y'}} · in 
                <span class="pnd-annotation-notebook-name">
                    <span 
                        ng-if="!isUserToolShowed() || !homePundit">
                        {{annotation.notebookName}}
                    </span>
                    <a 
                        href="#" 
                        ng-if="isUserToolShowed() && homePundit"
                        ng-click="openNotebook($event, annotation.notebookId)">
                        {{annotation.notebookName}}
                    </a>
                </span>
            </span>

        </div>

        <!-- Annotation data -->
        <div class="pnd-annotation-details-data">

            <!-- Single Triple -->
            <!-- TODO Fare una modifica qui e togliere la logica di accorpamento degli object se viene utlizzato stesso subject-predicate -->
            <div class="pnd-annotation-details-triple" ng-repeat="item in annotation.itemsArray">

                <!-- Subject -->
                <!-- Text fragment || resource -->
                <div ng-if="item.subject.typeLabel != 'WebPage' &&
                            item.subject.typeLabel != 'resource' &&
                            item.subject.typeLabel != 'Image' &&
                            item.subject.typeLabel != 'Image fragment'"
                     ng-class="{'pnd-annotation-annotated-fragment': annotation.mainItem.typeLabel == 'Text fragment'}">
                    <span>
                        {{ item.subject.description }}
                    </span>

                    <div class="pnd-annotation-original-page"
                         ng-if="item.subject.isExternal">
                        <a href="{{item.subject.pageContext}}" target="_blank">Open in original page</a>
                    </div>
                </div>

                <!-- Web page -->
                <div class="pnd-annotation-details-subject pnd-annotation-entity-details"
                     ng-if="item.subject.typeLabel == 'WebPage'">

                    <!-- Label -->
                    <span class="pnd-annotation-entity-label">
                        {{ item.subject.label }}
                    </span>
                    <!-- Type -->
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.subject.typeLabel }}
                    </span>
                </div>

                <!-- Resource (i.e. Europeana Sounds CHO) -->
                <div class="pnd-annotation-details-subject pnd-annotation-entity-details"
                     ng-if="item.subject.typeLabel == 'resource'">

                    <!-- Label -->
                    <span class="pnd-annotation-entity-label">
                        {{ item.subject.label }}
                    </span>
                    <!-- Type -->
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.subject.typeLabel }}
                    </span>
                </div>

                <!-- Image -->
                <div class="pnd-annotation-details-subject pnd-annotation-entity-details"
                     ng-if="item.subject.typeLabel == 'Image'">
                    <!-- Thumb -->
                    <span class="pnd-annotation-entity-image"
                          ng-if="item.subject.image!='null'">
                        <img ng-src="{{ item.subject.image }}" alt="{{ item.subject.label }}"/> <!-- TODO Instead of "label" we shoudl use the ALT attribute if present -->
                    </span>
                    <!-- Label -->
                    <span class="pnd-annotation-entity-label">
                        <a href="{{ item.subject.description }}" target="_blank">
                            {{ item.subject.label }} <!-- TODO Instead of "label" we shoudl use the ALT attribute if present -->
                            <span class="pnd-icon-arrow-right"></span>
                        </a>
                    </span>
                    <!-- Type -->
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.subject.typeLabel }}
                    </span>
                </div>

                <!-- Image fragment -->
                <div class="pnd-annotation-details-subject pnd-annotation-entity-details"
                     ng-if="item.subject.typeLabel == 'Image fragment'">
                    <!-- Thumb -->
                    <span class="pnd-annotation-entity-image"
                          ng-if="item.subject.image!='null'">
                        <img ng-src="{{ item.subject.image }}" alt="{{ item.subject.label }}"/>
                    </span>
                    <!-- Label -->
                    <span class="pnd-annotation-entity-label">
                        <a href="{{ item.subject.uri }}" target="_blank">
                            {{ item.subcjet.label }} <span class="pnd-icon-arrow-right"></span>
                        </a>
                    </span>
                    <!-- Type -->
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.subcjet.typeLabel }}
                    </span>
                </div>

                <!-- Predicate -->
                <!-- TODO There's a problem with the positioning of the tooltip on "top" -->
                <div class="pnd-annotation-details-predicate"
                     data-trigger="hover"
                     data-type="success"
                     data-placement="left"
                     data-title="{{ item.predicate.description }}"
                     bs-tooltip>
                    {{ item.predicate.label }}
                </div>

                <!-- Object -->
                <!-- Text fragment || resource -->
                <div class="pnd-annotation-details-object pnd-annotation-annotated-fragment pnd-annotation-entity-details"
                     ng-if="item.objects[0].typeLabel == 'Text fragment'">
                    <span>
                        <!-- {{ item.objects[0].description | limitTo:200 }} -->
                        {{ item.objects[0].description }}
                    </span>

                    <div class="pnd-annotation-original-page"
                         ng-if="item.subject.isExternal">
                        <a href="{{item.subject.pageContext}}">Open in original page</a>
                    </div>
                </div>

                <!-- Literal -->
                <div class="pnd-annotation-details-object pnd-annotation-annotated-literal pnd-annotation-entity-details"
                     ng-if="item.objects[0].typeLabel == 'literal'">
                    <span>
                        <!-- {{ item.objects[0].description | limitTo:200 }} -->
                        <span ng-bind-html="item.objects[0].description | linky:'_blank'"></span>
                    </span>
                </div>

                <!-- WebPage -->
                <div class="pnd-annotation-details-object pnd-annotation-entity-details"
                     ng-if="item.objects[0].typeLabel == 'WebPage'">
                    <span class="pnd-annotation-entity-label">
                        <a href="{{ item.objects[0].uri }}" target="_blank">
                            {{ item.objects[0].label }} <span class="pnd-icon-arrow-right"></span>
                        </a>
                    </span>
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.objects[0].typeLabel }}
                    </span>
                </div>

                <!-- Resource (i.e. Europeana Sounds CHO) -->
                <div class="pnd-annotation-details-object pnd-annotation-entity-details"
                     ng-if="item.objects[0].typeLabel == 'resource'">
                    <span class="pnd-annotation-entity-label">
                        <a href="{{ item.objects[0].uri }}" target="_blank">
                            {{ item.objects[0].label }} <span class="pnd-icon-arrow-right"></span>
                        </a>
                    </span>
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.objects[0].typeLabel }}
                    </span>
                </div>

                <!-- Image -->
                <div class="pnd-annotation-details-object pnd-annotation-entity-details"
                     ng-if="item.objects[0].typeLabel == 'Image'">
                    <span class="pnd-annotation-entity-image"
                          ng-if="item.objects[0].image!='null'">
                        <img ng-src="{{ item.objects[0].image }}" alt="{{ item.objects[0].label }}"/>
                    </span>
                    <span class="pnd-annotation-entity-label">
                        <a href="{{ item.objects[0].description }}" target="_blank">
                            {{ item.objects[0].label }} <span class="pnd-icon-arrow-right"></span>
                        </a>
                    </span>
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.objects[0].typeLabel }}
                    </span>
                </div>

                <!-- Image fragment -->
                <div class="pnd-annotation-details-object pnd-annotation-entity-details"
                     ng-if="item.objects[0].typeLabel == 'Image fragment'">
                    <span class="pnd-annotation-entity-image"
                          ng-if="item.objects[0].image!='null'">
                        <img ng-src="{{ item.objects[0].image }}" alt="{{ item.objects[0].label }}"/>
                    </span>
                    <span class="pnd-annotation-entity-label">
                        <a href="{{ item.objects[0].description }}" target="_blank">
                            {{ item.objects[0].label }} <span class="pnd-icon-arrow-right"></span>
                        </a>
                    </span>
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.objects[0].typeLabel }}
                    </span>
                </div>

                <!-- Anything else -->
                <div class="pnd-annotation-details-object pnd-annotation-entity-details"
                     ng-if="item.objects[0].typeLabel != 'Text fragment' &&
                             item.objects[0].typeLabel != 'literal' &&
                             item.objects[0].typeLabel != 'WebPage' &&
                             item.objects[0].typeLabel != 'Image' &&
                             item.objects[0].typeLabel != 'Image fragment' &&
                             item.objects[0].typeLabel != 'Resource'">
                    <span class="pnd-annotation-entity-image"
                          ng-if="item.objects[0].image!='null'">
                        <img ng-src="{{ item.objects[0].image }}" alt="{{ item.objects[0].label }}"/>
                    </span>
                    <span class="pnd-annotation-entity-label">
                        <a href="{{ item.objects[0].uri }}" target="_blank">
                            {{ item.objects[0].label }} <span class="pnd-icon-arrow-right"></span>
                        </a>
                    </span>
                    <span class="pnd-annotation-entity-type pnd-type">
                        {{ item.objects[0].typeLabel }}
                    </span>
                    <span class="pnd-annotation-entity-description">
                        {{ item.objects[0].description | limitTo:200 }}
                    </span>
                </div>

            </div>
            <!-- END // Single Triple -->

        </div>

        <!-- Annotation functions buttons (Edit, Cancel, Share, Reply, Like...) -->
        <div class="pnd-annotation-details-buttons">
            <div ng-include="'src/AnnotationSidebar/AnnotationDetails.footerButtons.tmpl.html'"
                 replace="true"
                    >
            </div>
        </div>
        <span
                ng-show = "!annotation.repliesLoaded">
            Loading Replyes
        </span>
        <!-- Metadata social comment box -->
        <div ng-include="'src/AnnotationSidebar/AnnotationDetails.replyComment.tmpl.html'"
             replace="true"
                >
        </div>
        <!-- List of replyes to comment -->
        <annotation-details-reply-comment-tree
                class="pnd-annotation-details "
                id="{{::annotation.id}}"
                data="annotation"
                options="options"
                ng-repeat="annotation in replyTree track by annotation.id"
                style="position:relative"
                ng-if="isReplyMode()">
        </annotation-details-reply-comment-tree>


        </div>

    </div>

</div>