<div class="pnd-annotation-details-wrap pnd-annotation-highlight pnd-ignore"
     ng-class="{'pnd-annotation-has-social': social}">

    <!-- Collapsed view of the annotation -->
    <div class="pnd-annotation-collapsed pnd-annotation-details-header pnd-annotation-details-top"
         ng-click="toggleAnnotation()"
         ng-if="!annotation.expanded"
         ng-class="{'pnd-annotation-details-broken': annotation.broken, 'pnd-annotation-details-ghosted': annotation.ghosted}">

        <div class="pnd-annotation-collapsed-subject"
             ng-class="{'pnd-annotation-annotated-fragment': (annotation.mainItem.typeLabel == 'Text fragment')}">
            <span>{{annotation.mainItem.label}}</span>
        </div>

        <!--<div class="pnd-annotation-collapsed-social-footer pnd-annotation-social-buttons"-->
             <!--ng-include="'src/AnnotationSidebar/AnnotationDetails.footerButtons.tmpl.html'"-->
             <!--replace="true">-->
        <!--</div>-->
        <div class="annotation-details-social-buttons pnd-annotation-collapsed-social-footer pnd-annotation-social-buttons"
             id="{{::annotation.id}}"
             data="annotation"
             options="options"
             ng-show="social"
             ng-class="{'pnd-no-social': !social}">
        </div>
    </div>
    <!-- END // Collapsed view of the annotation -->

    <!-- Expanded view of the annotation -->
    <div class="pnd-annotation-expanded pnd-annotation-details-container"
         ng-click="toggleAnnotation()"
         ng-if="annotation.expanded">

        <!-- Metadata -->
        <div class="pnd-annotation-details-meta"
             ng-class="{ 'pnd-annotation-details-meta-edit':( isUserToolShowed() ) }"
             ng-init="meta = false">

            <!-- Default user's thumb -->
            <div class="pnd-annotation-user-thumb-default"
                 ng-show="annotation.defaultThumb"></div>

            <!-- User's thumb -->
            <img class="pnd-annotation-user-thumb"
                 ng-src="{{annotation.thumbnail}}" width="30" height="30"
                 ng-hide="annotation.defaultThumb"
                 alt="{{::annotation.creatorName}}"/>

            <!-- Edit Menu -->
            <div class="pnd-icon-angle-down pnd-annotation-edit-toggle"
                 ng-click="menuEdit($event);"
                 style="float:right"
                 ng-if="isUserToolShowed()">
            </div>

            <span class="pnd-annotation-user-name">
                {{::annotation.creatorName}}
            </span>
            <span class="pnd-annotation-metadata">
                <time-ago from-time='{{ annotation.created }}' format='dd MMM yyyy'></time-ago> · in
                <span 
                    ng-if="!isUserToolShowed() || !homePundit">
                    {{annotation.notebookName}}
                </span>
                <a 
                    href="#" 
                    ng-if="isUserToolShowed() && homePundit"
                    ng-click="openNotebook($event, annotation.notebookId)">
                    {{annotation.notebookName}}
                </a>
                <br>
            </span>

        </div>

        <!-- Annotation data -->
        <div class="pnd-annotation-details-data">

            <!-- Annotated text fragment -->
            <div class="pnd-annotation-annotated-fragment">
                <span>{{annotation.mainItem.description}}</span>
            </div>

        </div>

        <!-- Annotation functions buttons (Edit, Cancel, Share, Reply, Like...) -->
        <!--<div class="pnd-annotation-details-buttons">-->
            <!--<div ng-include="'src/AnnotationSidebar/AnnotationDetails.footerButtons.tmpl.html'"-->
                 <!--replace="true"-->
                    <!-->
            <!--</div>-->
        <!--</div>-->
        <div class="annotation-details-social-buttons pnd-annotation-social-buttons"
             id="{{::annotation.id}}"
             data="annotation"
             options="options"
             ng-show="social"
             ng-class="{'pnd-no-social': !social}">
        </div>

        <!-- Displayed while loading replies -->
        <div ng-show = "checkLoaded()"
             class="pnd-annotation-loading-replies">
            <p class="pnd-pulse">
                Loading Replies
            </p>
        </div>

        <!-- List of replyes to comment -->
        <annotation-details-reply
                class="pnd-annotation-details "
                id="{{::annotation.id}}"
                data="annotation"
                options="optionsReplyes"
                ng-repeat="annotation in replyTree track by annotation.id"
                style="position:relative"
                ng-if="reply"
                ng-show="social"
                ng-class="{'pnd-no-social': !social}">
        </annotation-details-reply>

        <!-- Displayed while saving replies -->
        <div ng-show = "isSaving"
             class="pnd-annotation-loading-replies">
            <p class="pnd-pulse">
                Saving Replies
            </p>
        </div>

        <!-- Metadata social comment box -->
        <div ng-include="'src/AnnotationSidebar/AnnotationDetails.replyTextArea.tmpl.html'"
             replace="true">
        </div>

    </div>
    <!-- END // Expanded view of the annotation -->

</div>