

<!-- <div class="pnd-annotation-details-footer"> -->
    <button
            type="button"
            class="pnd-reply"
            ng-if="options.reply"
            ng-click="replyAnnotation($event)"
            ng-class="{'pnd-annotation-details-social-activate': data.social.status.comment }">
        <span class="pnd-icon-comment"></span>
        {{data.social.counting.comment}}
    </button>

    <span ng-if="options.reply&&!isLinking()">
        ·
    </span>

    <button
            type="button"
            class="pnd-like"
            ng-show="options.like"
            ng-click="socialEvent($event, 'like')"
            ng-class="{'pnd-annotation-details-social-activate': data.social.status.like }">
        <span class="pnd-icon-thumb-o-up"></span>
        {{data.social.counting.like}}
    </button>

    <span ng-if="options.like">
        ·
    </span>

    <button
            type="button"
            class="pnd-dislike"
            ng-show="options.dislike"
            ng-click="socialEvent($event, 'dislike')"
            ng-class="{'pnd-annotation-details-social-activate': data.social.status.dislike }">
        <span class="pnd-icon-thumb-o-down"></span>
        {{data.social.counting.dislike}}
    </button>

    <span ng-if="options.dislike">
        ·
    </span>

    <button
            type="button"
            class="pnd-endorse"
            ng-show="options.endorse"
            ng-click="socialEvent($event, 'endors')"
            ng-class="{'pnd-annotation-details-social-activate': data.social.status.endors }">
        <span class="pnd-icon-check"></span>
        {{data.social.counting.endors}}
    </button>

    <span ng-if="options.endorse">
        ·
    </span>

    <button
            type="button"
            class="pnd-report"
            ng-if="options.report"
            ng-click="socialEvent($event, 'report')"
            ng-class="{'pnd-annotation-details-social-activate': data.social.status.report }">
        <span class="pnd-icon-exclamation"></span>
        {{data.social.counting.report}}
    </button>
                <!--<span ng-if="report&&isUserToolShowed()">-->
                    <!--·-->
                <!--</span>-->



<!--<button-->
<!--type="button"-->
<!--class="pnd-edit"-->
<!--ng-if="isUserToolShowed()"-->
<!--ng-click="editComment($event)">-->
<!--<span class="pnd-icon-pencil"></span>-->
<!--Edit-->
<!--</button>-->
<!--<span ng-if="isUserToolShowed()">-->
<!--·-->
<!--</span>-->

<!--<button-->
<!--type="button"-->
<!--class="pnd-delete"-->
<!--ng-if="isUserToolShowed()"-->
<!--ng-click="deleteAnnotation($event)">-->
<!--<span class="pnd-icon-trash"></span>-->
<!--Delete-->
<!--</button>-->

<!-- Metadata social comment -->
