<!-- Atoka company info -->
<div class="company-preview-wrapper">
    <p>
        This annotation is related to the <strong>Atoka</strong> profile:
    </p>

    <!-- Company preview -->
    <div class="company-preview">
        <div class="company-main-info">
            <div class="company-thumb">
                <img ng-if="!annotation.atokaItem.hasLogo" src="https://unsplash.it/70/50/?random" alt="">
                <img ng-if="annotation.atokaItem.hasLogo" ng-src="{{ annotation.atokaItem.hasLogo }}" alt="">
            </div>
            <h1 class="company-name">
                <a href="{{ annotation.atokaItem.uri }}" target="_blank">
                    {{ annotation.atokaItem.description }}
                </a>
            </h1>
        </div>

        <div class="company-meta">
            <span class="company-ateco"><span class="label">ATECO: </span> {{ annotation.atokaItem.hasAteco }}</span>
            <span class="company-sede"><span class="label">Sede legale: </span>{{ annotation.atokaItem.hasFullAddress }}</span>
        <span class="company-link">
            <a href="{{ annotation.atokaItem.uri }}" target="_blank">View company in Atoka</a> ·
            <!-- <span>Select another company</span> -->
        </span>
        </div>
    </div>
    <!-- END // Company preview -->
</div>
<!-- END // Atoka company info -->