@font-face {
	font-family: 'pundit-font';
	src:url('fonts/pundit-font.eot?-azhmew');
	src:url('fonts/pundit-font.eot?#iefix-azhmew') format('embedded-opentype'),
		url('fonts/pundit-font.ttf?-azhmew') format('truetype'),
		url('fonts/pundit-font.woff?-azhmew') format('woff'),
		url('fonts/pundit-font.svg?-azhmew#pundit-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pnd-icon-"], [class*=" pnd-icon-"] {
	font-family: 'pundit-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pnd-icon-bookmark-new:before {
	content: "\e610";
}
.pnd-icon-glyphicon-chevron-left:before {
	content: "\f053";
}
.pnd-icon-glyphicon-chevron-right:before {
	content: "\f054";
}
.pnd-icon-glyphicon-chevron-left-2:before {
	content: "\f104";
}
.pnd-icon-glyphicon-chevron-right-2:before {
	content: "\f105";
}
.pnd-icon-arrow-right:before {
	content: "\e60e";
}
.pnd-icon-lock:before {
	content: "\f023";
}
.pnd-icon-expand:before {
	content: "\f065";
}
.pnd-icon-unlock:before {
	content: "\f09c";
}
.pnd-icon-group:before {
	content: "\f0c0";
}
.pnd-icon-logo-1:before {
	content: "\e60b";
}
.pnd-icon-logo-2:before {
	content: "\e60c";
}
.pnd-icon-logo-3:before {
	content: "\e60d";
}
.pnd-icon-calendar:before {
	content: "\e608";
}
.pnd-icon-picture-alt:before {
	content: "\e609";
}
.pnd-icon-fragment-icon:before {
	content: "\e60a";
}
.pnd-icon-bookmark-alt:before {
	content: "\e602";
}
.pnd-icon-dots:before {
	content: "\e603";
}
.pnd-icon-comment:before {
	content: "\e604";
}
.pnd-icon-star:before {
	content: "\e605";
}
.pnd-icon-tag-alt:before {
	content: "\e606";
}
.pnd-icon-typing:before {
	content: "\e607";
}
.pnd-icon-search:before {
	content: "\f002";
}
.pnd-icon-user:before {
	content: "\f007";
}
.pnd-icon-check:before {
	content: "\f00c";
}
.pnd-icon-close:before {
	content: "\f00d";
}
.pnd-icon-search-plus:before {
	content: "\f00e";
}
.pnd-icon-search-minus:before {
	content: "\f010";
}
.pnd-icon-gear:before {
	content: "\f013";
}
.pnd-icon-trash:before {
	content: "\f014";
}
.pnd-icon-file:before {
	content: "\f016";
}
.pnd-icon-refresh:before {
	content: "\f021";
}
.pnd-icon-tag:before {
	content: "\f02b";
}
.pnd-icon-notebook:before {
	content: "\f02d";
}
.pnd-icon-bookmark:before {
	content: "\f02e";
}
.pnd-icon-camera:before {
	content: "\f030";
}
.pnd-icon-picture:before {
	content: "\f03e";
}
.pnd-icon-pencil:before {
	content: "\f040";
}
.pnd-icon-plus:before {
	content: "\f067";
}
.pnd-icon-minus:before {
	content: "\f068";
}
.pnd-icon-exclamation:before {
	content: "\f06a";
}
.pnd-icon-eye:before {
	content: "\f06e";
}
.pnd-icon-comment-alt:before {
	content: "\f075";
}
.pnd-icon-folder:before {
	content: "\f07b";
}
.pnd-icon-folder-open:before {
	content: "\f07c";
}
.pnd-icon-certificate:before {
	content: "\f0a3";
}
.pnd-icon-filter:before {
	content: "\f0b0";
}
.pnd-icon-caret-down:before {
	content: "\f0d7";
}
.pnd-icon-caret-up:before {
	content: "\f0d8";
}
.pnd-icon-spinner:before {
	content: "\f110";
}
.pnd-icon-sort-amount-asc:before {
	content: "\f160";
}
.pnd-icon-sort-amount-desc:before {
	content: "\f161";
}
.pnd-icon-archive:before {
	content: "\f187";
}
.pnd-icon-question:before {
	content: "\f059";
}
.pnd-icon-info:before {
	content: "\f05a";
}
.pnd-icon-circle:before {
	content: "\f111";
}
.pnd-icon-sort-alpha-desc:before {
	content: "\f15e";
}
.pnd-icon-sort-numeric-asc:before {
	content: "\f162";
}
.pnd-icon-sort-numeric-desc:before {
	content: "\f163";
}
.pnd-icon-bug:before {
	content: "\f188";
}
.pnd-icon-img-fragment:before {
	content: "\e600";
}
.pnd-icon-txt-fragment:before {
	content: "\e601";
}
