/**
 * CONSOLIDATION
 *
 * Style of inline text fragments and images involved in annotations
 */

/* ------------------------------------ *\
   #CONSOLIDATION
\* ------------------------------------ */
.pnd-cons {
    background-color: @text-fragment-color;
    // padding: 0.2em 0em;
    // color: darken(@brand-warning, 25%);
    // line-height: 1.8em;

    // TODO: are these important really important?

    /* Hover effect */
    &.pnd-textfragment-highlight {
        background-color: @text-fragment-color-hover !important;
        // color: darken(@brand-warning, 35%); // Please don't modify the original text color
    }

    &.pnd-textfragment-hidden {
        background-color: inherit !important;
        // color: inherit;
    }

    &.pnd-textfragment-ghosted {
        background-color: @text-fragment-ghosted !important;

        & + .pnd-text-fragment-icon {
            color: @text-fragment-icon-color-ghosted !important;
        }
    }

    /* Consolidation overlapping values */
    &.pnd-textfragment-numbers-1 {
        background-color: @text-fragment-color-1;
    }

    &.pnd-textfragment-numbers-2 {
        background-color: @text-fragment-color-2;
    }

    &.pnd-textfragment-numbers-3 {
        background-color: @text-fragment-color-3;
    }

    &.pnd-textfragment-numbers-4 {
        background-color: @text-fragment-color-4;
    }

    &.pnd-textfragment-numbers-5 {
        background-color: @text-fragment-color-5;
    }

    &.pnd-textfragment-numbers-6 {
        background-color: @text-fragment-color-6;
    }

    &.pnd-textfragment-numbers-7 {
        background-color: @text-fragment-color-6;
    }

    &.pnd-textfragment-numbers-8 {
        background-color: @text-fragment-color-6;
    }

    &.pnd-textfragment-numbers-9 {
        background-color: @text-fragment-color-6;
    }
}

.pnd-text-fragment-icon {
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0.18em;
    margin-bottom: -0.18em;
    color: @text-fragment-icon-color; //  @brand-warning;
    font-size: 1.18em;
    // line-height: 1.3;
    vertical-align: top;
    text-decoration: none;
    cursor: context-menu;

    &:hover {
        color: @text-fragment-icon-color-hover; // darken(@brand-warning, 12%);
        text-decoration: none;
    }

    &.pnd-icon-bookmark {
        color: @text-fragment-icon-color;

        &:hover {
            color: @text-fragment-icon-color-hover; // darken(@brand-success, 12%);
            text-decoration: none;
        }
    }
}

/* Consolidation inside <A> links */
a {
    & .pnd-cons {
        text-decoration: none;
        cursor: pointer;
    }

    .pnd-text-fragment-icon {
        text-decoration: none;
        color: @text-fragment-icon-color; //  @brand-warning;

        &:hover {
            color: @text-fragment-icon-color-hover; // darken(@brand-warning, 12%);
            text-decoration: none;
        }
    }
}

sup {

    .pnd-text-fragment-icon {
        font-size: 12px;
        position: absolute;
        top: 0.3em;
    }
}


/* ------------------------------------ *\
   #IMAGE-CONSOLIDATION
\* ------------------------------------ */

.pnd-cons-img {
    border: 2px solid @brand-primary !important;
}