//
// Normalization of tags
// --------------------------------------------------

// This normalize file is used to reset the specifications of
// common tags that could be influenced by the CSS
// of pages loaded in Pundit or loading Korboee

// Example: If the CSS of a Page loaded in Pundit defines the margins for the UL
// tag and these are not defined in Pundit, this will inherit the margin from the
// loaded page, probably changing the UI in an unwanted way.

// The problem should generally apply only to general HTML tags and for this reason we
// just define these

// We're not declaring all the possible attributes for the elements but just the
// most commonly modified (ie. margins, paddings...).
// If we'll find situations when some other attributes are defined by the loaded pages
// we can add the declaration to reset it


//== Common tags reset
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, img, strong,
b, i, ul, li, form {
    margin: 0;
    padding: 0;
    position: static;
    border: 0;
    outline: 0; 
    vertical-align: baseline;
    background: transparent;
    background-image: none;
    text-align: left;
}

// Display declaration
div, h1, h2, h3, h4, h5, h6, p, ul {
    display: block;
}

span, img, strong, b, i {
    display: inline;    
}

// Typography resets
a {
    border-bottom: none;
    font-family: @font;

    &:hover {
    border-bottom: none;
    }
}

p, blockquote {
    font-size: inherit;
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    text-transform: none;
}

input[type='text'], label, nav, th,  h1, h2, h3, h4, h5, h6, strong, table, p, blockquote {
    font-family: inherit;
}

nav {
    font-family: inherit;
    text-transform: initial;
}

// Lists
ol, ul, li{
    list-style: none;
}

ul li {
    list-style: none;
}

button {
    min-height: initial;
    position: static;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    text-indent: 0;
}

table {
    display: table;
}

thead {
    display: table-header-group;

}

tbody {
    display: table-footer-group;
}

tr {
    display: table-row;
    border: none;
}

td, th {
    display: table-cell;
    border: none;
}


