//
// COMMON VARIABLES
//
// Variables for all applications.
// These are **NOT** the variables of Bootstrap (that are defined in other LESS files)
// but the custom variables for the applications.
//


// ------------------------------------ //
// #COLORS
// ------------------------------------ //

@gray-soft-dark: lighten(#000, 26%);
@gray-extra-light: lighten(#000, 80%);
@gray-extra-lighter: lighten(#000, 90%);
@gray-extra-lightest: lighten(#000, 98%);

@color-toolbar-disabled: lighten(#000, 45%);

@subject-color: #54b4e6;
@subject-color-text: lighten(@subject-color, 27);
@predicate-color: #febe53;
@predicate-color-text: lighten(@predicate-color, 25);
@object-color: #0084c8;
@object-color-text: desaturate(lighten(@object-color, 27), 30);

@color-type-background: @gray-lighter;

// Login popover colors
@color-login-popover-background: #FFF;
@color-login-popover-border: #979797;

// Annotations in the sidebar
@color-annotation-header: @subject-color;
@color-annotation-broken-header: @predicate-color;
@color-annotation-header-text: #FFF;


// ------------------------------------ //
// #INLINE-CONSOLIDATION
// ------------------------------------ //
// @text-fragment-color: rgba(255,255,10,0.3); // #f8cd48;
@text-fragment-color: rgba(255,255,0,.32); // #f8cd48;
@text-fragment-color-hover: rgba(255,255,0,.68); // fade(@color-annotation-header, 30); // rgba(255,255,0,1);


// ------------------------------------ //
// #LOGIN-POPOVER
// ------------------------------------ //

@login-popover-width: 320px;
@login-popover-height: 560px;


// ------------------------------------ //
// #TOOLBAR
// ------------------------------------ //

@toolbar-height: 30px;
@toolbar-border-bottom: 1px;


// ------------------------------------ //
// #ITEM-GEOMETRY
// ------------------------------------ //
@item-height: 28px;


// ------------------------------------ //
// #TRIPLE-COMPOSER-GEOMETRY
// ------------------------------------ //

@triplecomposer-height: 25px;
@triplecomposer-padding-inner: 5px;
@triplecomposer-spacing: 6px;


// ------------------------------------ //
// #Z-INDEX
// ------------------------------------ //

// Attention: here we define only z-index for highlevel components
// Z-indexes for nested elements (inside components) are defined inside each file and have
// lower values as they should be relative

@zindex-pnd-base: 100000000; // Increment for pnd-wrap z-index value

@zindex-pnd:                        1000 + @zindex-pnd-base; // Used only once by .pnd-wrp

@zindex-pnd-annotation-sidebar:     500 + @zindex-pnd-base;
@zindex-pnd-dashboard:              600 + @zindex-pnd-base;
@zindex-pnd-toolbar:                700 + @zindex-pnd-base;
@zindex-pnd-login:                  800 + @zindex-pnd-base;
@zindex-pnd-modal-background:       900 + @zindex-pnd-base;
@zindex-pnd-image-fragment-tool:    1000 + @zindex-pnd-base;
@zindex-pnd-modal:                  1100 + @zindex-pnd-base;
@zindex-pnd-contextual-menu:        1200 + @zindex-pnd-base;
@zindex-pnd-popver:                 1300 + @zindex-pnd-base;
@zindex-pnd-resource-panel:         1400 + @zindex-pnd-base;


// ------------------------------------ //
// #RESOURCE-PANEL
// ------------------------------------ //
@resource-panel-width: 400px;
@resource-panel-height: 250px;


// ------------------------------------ //
// #ANNOTATIONS-SIDEBAR
// ------------------------------------ //

// General variables for the sidebar
@annotation-sidebar-coll-width: 10px;
@annotation-sidebar-exp-width: 300px;
@annotation-sidebar-width: 300px;

// Styles defining single annotations as shown in the sidebar
@annotation-header-height: 24px;
@annotation-header-text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
@annotation-meta-text-shadow: 0 1px 0 rgba(255, 255, 255, 1);



// ------------------------------------ //
// #ANIMATIONS-VARIABLES
// ------------------------------------ //

@animation-fast-duration: .15s;