<div class="kee-wrp" ng-controller="KeeSearchCtrl">
    <!-- Search -->
    <div class="kee-search">
            <label>
                {{searchFieldLabel}}
            </label>
            <div class="left-inner-icon">
    	        <span 
                    class="pnd-icon pnd-icon-search" 
                    ng-click="search.term = ''">
                </span>
    	        <input 
                    class="form-control" 
                    type="text" 
                    ng-model="elemToSearch" 
                    placeholder="Type at least {{conf.labelMinLength}} characters...">
            </div>
    </div>
    <!-- // End search -->

    <div>
        <preview 
            use-in-korbo="true" 
            is-loading="{{previewIsLoading}}" 
            error-loading="{{previewError}}">
        </preview>
    </div>

    <div 
        ng-model="contentTabs.activeTab" 
        bs-tabs="contentTabs" 
        data-template = "src/ResourcePanel/verticalTabs.tmpl.html">
    </div>

    <!-- Footer -->
    <div class="kee-footer">
        <button 
            ng-hide="searchType != 'tab' || editMode || !showClose.visibility"
            ng-class="{'disabled': showClose.disabled}"
            type="button" 
            class="btn btn-xs btn-success" 
            ng-click="closeKeeModal()">
                Close
        </button>
        <button 
            type="button" 
            class="btn btn-xs btn-success" 
            ng-show="searchType() == 'tab' && !editMode && showMoreInfo.visibility"
            ng-class="{'disabled': showMoreInfo.disabled}" 
            ng-click="moreInfo()">
                More Info
        </button>
        <button 
            type="button" 
            class="btn btn-xs btn-success" 
            ng-show="searchType() == 'tab' && !editMode && showCopyInEditor.visibility"
            ng-class="{'disabled': showCopyInEditor.disabled}" 
            ng-click="copyInEditor()">
                Copy in editor
        </button>
        <button 
            type="button" 
            class="btn btn-xs btn-success" 
            ng-show="searchType() == 'tab' && !editMode && showUse.visibility"
            ng-class="{'disabled': showUse.disabled}" 
            ng-click="use()">
                Use
        </button>
        <button 
            type="button" 
            class="btn btn-xs btn-success"
            ng-show="searchType() == 'tab' && !editMode && showUseAndCopy.visibility"
            ng-class="{'disabled': showUseAndCopy.disabled}" 
            ng-click="copyAndUse()">
                Copy and Use
        </button>
        <button
            ng-show="searchType() == 'tab' && editMode"
            type="button" class="btn btn-xs btn-success" 
            ng-click="korboModalTabs.activeTab = 1">
                Back
        </button>
        <button 
            ng-show="searchType() == 'tab' && editMode"
            type="button" 
            class="btn btn-xs btn-success"
            ng-disabled="!itemSelected"
            ng-click="copyInEditor(); elemToSearch = ''">
                Select URL
        </button>
        <button
            type="button"
            class="btn btn-sm btn-default"
            ng-show="searchType() == 'inner' && showInnerSelectURL.visibility"
            ng-class="{'disabled': showInnerSelectURL.disabled || !itemSelected}"
            ng-click="innerSelectURL()">
                Select URL
        </button>
        <button
            type="button"
            class="btn btn-sm btn-default"
            ng-show="searchType() == 'inner' && showInnerCopyFromLOD.visibility"
            ng-class="{'disabled': showInnerCopyFromLOD.disabled || !itemSelected}"
            ng-click="innerCopyFromLOD()">
                Copy from LOD
        </button>
        <button
                type="button"
                class="btn btn-sm btn-default"
                ng-show="searchType() == 'inner' && showInnerDiscardSearch.visibility"
                ng-class="{'disabled': showInnerDiscardSearch.disabled}"
                ng-click="innerDiscardSearch()">
            Discard search
        </button>
    </div>
    <!-- // End footer -->
</div>