<!-- TODO: Need some refactoring -->
<div class="pnd-annotation-preview-item-container pnd-ignore">

    <div class="pnd-preview-item-types">
        <ul class="pnd-preview-item-types-ul">
            <li class="pnd-type" ng-class="{'pnd-is-sticky': isSticky}" ng-repeat="type in item.type">{{getTypeLabel(type)}}</li>
        </ul>
        <div ng-show="typeHiddenPresent" ng-class="{'pnd-icon-caret-down': typeHidden, 'pnd-icon-caret-up': !typeHidden}" class="pnd-icon pnd-type" ng-click="showAlltypes()"></div>
    </div>

    <div ng-if="item.isImage() && item.image!=null" class="pnd-preview-item-image">
        <img ng-src="{{item.image}}" />
    </div>

    <div ng-show="item.isImageFragment() && item.image!=null" class="pnd-preview-item-image">
        <img ng-src="{{item.image}}" />
    </div>

    <div 
        class="pnd-preview-item-image" 
        ng-if="!item.isImage() && !item.isImageFragment() && hasImage">
            <img class="pnd-annotation-preview-item-image" ng-src="{{item.image}}" />
    </div>

    <div class="pnd-preview-item-description">
        <p>{{item.description}}</p>

        <p ng-repeat="(k, v) in item.$label">
            <strong>{{k}}:</strong> {{v}}
        </p>
    </div>

    <div class="pnd-preview-item-allLables" ng-if="item.mergedLabel">
        <strong>All labels:</strong>
        <span>{{item.mergedLabel.split('_').join(', ')}}</span>
    </div>

    <!--
    This is redundant since the URL is available clicking on the "Go to page" button
    <div ng-if="item.isWebPage()" class="pnd-preview-item-webpage">
        <ul>
            <li>
                <strong>URL:</strong> <a href="{{item.uri}}" target="_blank">{{item.uri}}</a>
            </li>
        </ul>
    </div>
    -->

    <!-- Technical details for predicates -->
    <div ng-if="item.isProperty()" class="pnd-preview-item-predicate">
        <h1>Technical details</h1>
        <ul>
            <li class="pnd-preview-item-vocab pnd-preview-detail" ng-if="!item.mergedVocabulary && item.vocabulary">
                <strong class="pnd-preview-detail-label">Vocabulary:</strong>
                <span class="pnd-preview-detail-content">{{item.vocabulary}}</span>
            </li>
            <li class="pnd-preview-item-vocab pnd-preview-detail" ng-if="item.mergedVocabulary">
                <strong class="pnd-preview-detail-label">Vocabulary:</strong>
                <span class="pnd-preview-detail-content" ng-repeat="vocab in item.mergedVocabulary">{{vocab}}</span>
            </li>

            <li class="pnd-preview-item-domain pnd-preview-detail" ng-if="item.suggestedSubjectTypes.length !== 0">
                <strong class="pnd-preview-detail-label">Suggested Subject Types:</strong>
                <span class="pnd-preview-detail-content" ng-repeat="suggestedSubjectType in item.suggestedSubjectTypes">{{suggestedSubjectType}}</span>
            </li>

            <li class="pnd-preview-item-domain pnd-preview-detail" ng-if="item.suggestedSubjectTypes.length === 0">
                <strong class="pnd-preview-detail-label">Suggested Subject Types:</strong>
                <span class="pnd-preview-detail-content">All subjects can be used</span>
            </li>

            <li class="pnd-preview-item-range pnd-preview-detail" ng-if="item.suggestedObjectTypes.length !== 0">
                <strong class="pnd-preview-detail-label">Suggested Object Types:</strong>
                <span class="pnd-preview-detail-content" ng-repeat="suggestedObjectType in item.suggestedObjectTypes">{{suggestedObjectType}}</span>
            </li>
            <li class="pnd-preview-item-range pnd-preview-detail" ng-if="item.suggestedObjectTypes.length === 0">
                <strong class="pnd-preview-detail-label">Suggested Object Types:</strong>
                <span class="pnd-preview-detail-content">All objects can be used</span>
            </li>

            <li class="pnd-preview-detail" ng-if="item.uri">
                <strong class="pnd-preview-detail-label">Uri:</strong>
                <span class="pnd-preview-detail-content">{{item.uri}}</span>
            </li>

        </ul>
    </div>
    
</div>
