<div class="popover pnd-annotation-popover pnd-popover-literal"
     ng-class="{'pnd-annotation-popover-login': !isUserLogged, 'pnd-annotation-popover-annotate':currentMode === '' && isUserLogged}">

    <div class="arrow"></div>

    <!-- Login: user must login -->
    <div class="popover-content"
         ng-if="!isUserLogged">
        <a href="javascript:void(0)" ng-click="login()">Login to Pundit to create new annotations!</a>
    </div>

    <!-- Annotation type selection -->
    <div class="popover-content" ng-if="currentMode === '' && isUserLogged">
        <a ng-click="setMode('comment')">Comment</a><span class="pnd-annotation-popover-separator">
        </span><a ng-click="setMode('highlight')">Highlight</a>
    </div>

    <div class="popover-content-wrapper"
         ng-show="!savingAnnotation && !errorSaving"
         ng-if="currentMode !== '' && isUserLogged">
        <div class="popover-content"
             ng-show="currentMode === 'comment'">
            <div class="form-group">
                <textarea
                    id="comment-area"
                    class="form-control pnd-popover-literal-textarea"
                    rows="6"
                    ng-model="$parent.literalText"
                    ng-init="focusOn('comment-area')"></textarea>
            </div>
        </div>

        <div 
            class="popover-notebooks">
            Save {{currentMode}} in 
            <pnd-select
                    options="availableNotebooks"
                    selected-value="$parent.selectedNotebookId"
                    deferred-action="doCreateNewNotebook"
                    label-action="'Create new notebook'"
                    placeholder-action="'Type new notebook name here'"></pnd-select>
        </div>

        <div class="popover-footer">
            <button
                class="pnd-btn pnd-btn-calltoaction"
                ng-class="{disabled: $parent.literalText == '' && currentMode == 'comment'}"
                ng-click="save()">
                Save
            </button><button
                class="pnd-btn"
                ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>

    <div class="popover-content-wrapper"
         ng-show="!savingAnnotation && errorSaving">
        There was an error saving your comment, please try again later.
        </button><button
            class="pnd-btn"
            ng-click="cancel()">
            Cancel
        </button>
    </div>

    <div class="popover-content-wrapper"
         ng-show="savingAnnotation">
            Saving ...
    </div>
</div>