<div class="popover pnd-annotation-popover pnd-popover-literal">
    <div class="arrow"></div>

    <div ng-if="currentMode === ''">
        <button ng-click="setMode('comment')">Comment</button>
        <button ng-click="setMode('highlight')">Highlight</button>
    </div>

    <div class="popover-content-wrapper"
         ng-show="!savingAnnotation && !errorSaving"
         ng-if="currentMode !== ''">
        <div class="popover-content"
             ng-show="!isUserLogged">
            Please <a href="javascript:void(0)" ng-click="login()">login</a>
        </div>
        <div class="popover-content"
             ng-show="isUserLogged && currentMode === 'comment'">
            <div class="form-group">
                <textarea
                    class="form-control pnd-popover-literal-textarea"
                    rows="6"
                    ng-model="$parent.literalText"
                    ></textarea>
            </div>
        </div>

        <div 
            class="popover-notebooks"
            ng-show="isUserLogged">
            Save {{currentMode}} in 
            <pnd-select
                    options="availableNotebooks"
                    selected-value="selectedNotebookId"
                    deferred-action="doCreateNewNotebook"
                    label-action="'Create new notebook'"
                    placeholder-action="'Type new notebook name here'"></pnd-select>
        </div>

        <div class="popover-footer"
             ng-show="isUserLogged">
            <button
                class="pnd-btn pnd-btn-calltoaction"
                ng-class="{disabled: $parent.literalText == '' && currentMode == 'comment'}"
                ng-click="save()">
                Save
            </button><button
                class="pnd-btn"
                ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>

    <div class="popover-content-wrapper"
         ng-show="!savingAnnotation && errorSaving">
        There was an error saving your comment, please try again later.
        </button><button
            class="pnd-btn"
            ng-click="cancel()">
            Cancel
        </button>
    </div>

    <div class="popover-content-wrapper"
         ng-show="savingAnnotation">
            Saving ...
    </div>
</div>