<!-- buildexamples:section header --><!-- /buildexamples -->
<script>
    var punditConfig = {
        modules: {
            "Keyboard": {
                debug: true
            }
        }
    };

    var keyboardDemoCtrl = function($scope, Keyboard) {
        $scope.state = {
            stInputVisible: false,
            handlersRegistered: false,
            handlers: {}
        };

        $scope.state.stInputVisible = false;

        $scope.toogleSTInput = function(){
            $scope.state.stInputVisible = !$scope.state.stInputVisible;
        };

        $scope.registerHandlers = function() {
            $scope.state.handlers['Shift+D'] = Keyboard.registerHandler('keyboardDemo', {
                scope: $scope,
                shiftKey: true,
                keyCode: 84
            }, function(event, eventKeyConfig){
                eventKeyConfig.scope.toogleSTInput();
                eventKeyConfig.scope.$apply();
            });
            $scope.state.handlersRegistered = true;
        }

        $scope.unregisterHandlers = function() {
            for (var key in $scope.state.handlers) {
                Keyboard.unregisterHandler($scope.state.handlers[key]);
            }
            $scope.state.handlersRegistered = false;
        }

        $scope.isSTInputVisible = function() {
            return $scope.state.stInputVisible;
        }
    }

</script>
<div data-ng-app="Pundit2" 
     class="pnd-wrp">
    <div 
        ng-controller="keyboardDemoCtrl" 
        class="container clearfix">
        <div ng-show="state.handlersRegistered">
            Press Shift+T to toggle input field
        </div>
        <div>
            <input 
                  class=""
                  id="st-inputfield"
                  type="text"
                  ng-show="isSTInputVisible()"
                    />
        </div>
        <div style="margin-top: 150px; margin-bottom: 30px;">
            <button 
                class="btn btn-xs btn-success" 
                ng-disabled="state.handlersRegistered"
                ng-click="registerHandlers()">
                Register handlers
            </button>
            <button 
                class="btn btn-xs btn-success" 
                ng-disabled="!state.handlersRegistered"
                ng-click="unregisterHandlers()">
                Unregister handlers
            </button>
        </div>
    </div>
</div>
<!-- buildexamples:section footer --><!-- /buildexamples -->