<!-- buildexamples:section header --><!-- /buildexamples -->


<script>
    var myConf = {
        //endpoint: "http://korbo2.local:80/v1",
        // endpoint: "http://korbo2.local/app_dev.php/v1",
        endpoint: "http://dev.korbo2.org/app_dev.php/v1",
        basketID: 1,
        globalObjectName : 'KK',
        limitSearchResult: 11,
        useOnlyCallback: false,
        useTafonyCompatibility: true,
        labelMinLength: 4,
        onLoad: function(){
            console.log("onLoad calling");
        },
        providers: {
            freebase: true,
            dandeliondbpedia: true
        },
        type: [
            {  label: 'Place', state: false, URI:'http://place.uri'},
            { label: 'Scientist', state: false, URI:'http://scientist.uri'},
            { label: 'Writer', state: false, URI:'http://writer.uri'},
            { label: 'Type1', state: false, URI:'http://type1.uri'},
            { label: 'Type2', state: false, URI:'http://type2.uri'},
            { label: 'Type3', state: false, URI:'http://type3.uri'},
            { label: 'Type4', state: false, URI:'http://type4.uri'},
            { label: 'Type5', state: false, URI:'http://type5.uri'},
            { label: 'Type6', state: false, URI:'http://type6.uri'},
            { label: 'Type7', state: false, URI:'http://type7.uri'},
            { label: 'Type8', state: false, URI:'http://type8.uri'},
            { label: 'Type9', state: false, URI:'http://type9.uri'},
            { label: 'Type10', state: false, URI:'http://type10.uri'},
            { label: 'Type11', state: false, URI:'http://type11.uri'},
            { label: 'Type12', state: false, URI:'http://type12.uri'},
            { label: 'Type13', state: false, URI:'http://type13.uri'},
            { label: 'Type14', state: false, URI:'http://type14.uri'}
        ],
        buttonLabel: "Search",
        visualizeUseButton: ['dandeliondbpedia','freebase', 'korbo'],
        visualizeCopyButton: ['dandeliondbpedia','freebase'],
        copyToKorboBeforeUse: true,
        visualizeEditButton: false,

        languages: [
            {
                name:'Italian',
                value:'it',
                state: true
            },
            {
                name:'English',
                value:'en',
                state: true
            },
            {
                name:'German',
                value:'de',
                state: false
            },
            {
                name:'Spanish',
                value:'es',
                state: true
            },
            {
                name:'French',
                value:'fr',
                state: false
            }

        ],
        defaultLanguage: 'en',
        autoCompleteOptions: 'none',
        contextMenuActiveItems: {
            'advancedOptions': true,
            'editOriginalUrl': false,
            'searchOriginalUrl': false,
            'removeLanguages': false,
            'tripleComposer': true,
            'updateAllData': true,
            'searchAndCopyFromLOD': true,
            'korboHelp': true
        }
    };

    var myConf1 = {
        //endpoint: "http://korbo2.local:80/v1",
        endpoint: "http://dev.korbo2.org/v1",
        labelMinLength: 5,
        limitSearchResult: 3,
        globalObjectName : 'FF',
        useTafonyCompatibility: true,
        onReady: function(){
            console.log("widget is ready to use2");
        },

        useAutoComplete: true,
        autoCompleteMode: 'full',
        autoCompleteOptions: 'all'
    }

    var myConf2 = {
        //endpoint: "http://korbo2.local:80/v1",
        endpoint: "http://dev.korbo2.org/v1",
        limitSearchResult: 20,
        labelMinLength: 6,
        globalObjectName : 'GG',
        useTafonyCompatibility: true,

        useAutoComplete: true,
        autoCompleteMode: 'simple',
        autoCompleteOptions: 'all'
    }

    // INIT TRIPLECOMPOSER
    var predicate = {
        "type": ["http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"],
        "label": "is translation of",
        "description": "The selected text fragment is the translation of another text fragment",
        "domain": ["http://purl.org/pundit/ont/ao#fragment-text", "http://place.uri"],
        "range": ["http://purl.org/pundit/ont/ao#fragment-text"],
        "vocabulary": "Basic Relation",
        "uri": "http://purl.org/pundit/ont/oa#isTranslationOf"
    };

    var pageItems = [
        {
            uri: "item1",
            label: "item1Label",
            type: ["http://purl.org/pundit/ont/ao#fragment-text"]
        },
        {
            uri: "item3",
            label: "label of page item 3",
            type: ["http://purl.org/pundit/ont/ao#fragment-text"]
        },
        {
            uri: "item4",
            label: "label of page item 4(image)",
            type: ["http://xmlns.com/foaf/0.1/Image"]
        }
    ];
    var myItems = [
        {
            uri: "item2",
            label: "label of my item 2",
            type: ["http://purl.org/pundit/ont/ao#fragment-text"]
        }
    ];

    var KeeDemoCtrl = function($scope, KorboCommunicationService, $window, ItemsExchange, Item, $timeout, EventDispatcher, CLIENTPRODEFAULTS, PAGEITEMSCONTAINERDEFAULTS, MYITEMSDEFAULTS) {

        var name = $window['myConf'].globalObjectName;
        $scope.openSearch = function(){
            //$window.KK.callOpenSearch();
            $window[name].callOpenSearch();
        };

        $scope.edit = function(){
            //2606; 2607
            $window[name].callEdit(2598);
            // $window[name].callEdit(3176);
        };

        $scope.new = function() {
            $window[name].callOpenNew();
        }

        var item = new Item(predicate.uri, predicate);

        ItemsExchange.addItemToContainer(item, CLIENTPRODEFAULTS.relationsContainer);
        var loadMockedItems = function(){
            var j, item;
            for (j in pageItems) {
                item = new Item(pageItems[j].uri, pageItems[j]);
                ItemsExchange.addItemToContainer(item, PAGEITEMSCONTAINERDEFAULTS.container);
            }
            for (j in myItems) {
                item = new Item(myItems[j].uri, myItems[j]);
                ItemsExchange.addItemToContainer(item, MYITEMSDEFAULTS.container);
            }
        }();

        $timeout(function() {
            EventDispatcher.sendEvent('Client.boot');
        }, 1000);
    };


</script>
<div data-ng-app="Pundit2" class="pundit2 kee-wrp pnd-wrp" ng-controller="KeeDemoCtrl">
    <br>
    <korbo-entity-editor conf-name="myConf"></korbo-entity-editor>
    <br>
    <korbo-entity-editor conf-name="myConf1"></korbo-entity-editor>
    <br>
    <korbo-entity-editor conf-name="myConf2"></korbo-entity-editor>
    <br>
    <korbo-entity-editor></korbo-entity-editor>
    <button class="btn btn-xs btn-success" style="margin-left: 50px; margin-bottom: 30px;" ng-click="openSearch()">Search</button>
    <button class="btn btn-xs btn-success" style="margin-left: 50px; margin-bottom: 30px;" ng-click="edit()">Edit</button>
    <button class="btn btn-xs btn-success" style="margin-left: 50px; margin-bottom: 30px;" ng-click="new()">New</button>
</div>
<!-- buildexamples:section footer --><!-- /buildexamples -->
