//
// KORBOEE VARIABLES
//
// Custom variables only for Korbo EE
//


// ------------------------------------ //
// #GEOMETRY
// ------------------------------------ //
@kee-dialog-width: 850px;
@kee-dialog-height: 550px;
@kee-footer-height: 40px;