<div class="popover pnd-popover pnd-fragment-popover">
    <div class="arrow"></div>

    <div class="popover-content-wrapper">
        <span class="pnd-fragment-popover-label">
            Choose an annotation to open
        </span>
        <ul class="pnd-fragment-popover-list">
            <li ng-repeat="annotation in annotations"
                ng-click="showAnnotation(annotation)"
                ng-mouseover="mouseenter(annotation)" 
                ng-mouseleave="mouseleave()">
                {{annotation.label}}
            </li>
        </ul>

        <div ng-if="hasLink"
             class="pnd-fragment-popover-link">
            <span ng-class="{'external-link': link.target=='_blank', 'normal-link': link.target!='_blank'}">
                Open link
            </span>
            <a href="{{link.url}}"
               target="{{link.target}}">
                {{link.title}}
            </a>
        </div>

    </div>
</div>