<div class="popover pnd-fragment-popover">
    <div class="arrow"></div>

    <div class="popover-content-wrapper">
        <ul class="annotations-list">
            <li ng-repeat="annotation in annotations"
                ng-click="showAnnotation(annotation)"
                ng-mouseover="mouseenter(annotation)" 
                ng-mouseleave="mouseleave()">
                {{annotation.id}}
            </li>
        </ul>
        <div ng-if="hasLink"
             class="link-section">
            <i ng-class="{'external-link': link.target=='_blank', 'normal-link': link.target!='_blank'}">
                Go to:
            </i>
            <a href="{{link.url}}"
               target="{{link.target}}">
                {{link.title}}
            </a>
        </div>
    </div>
</div>