<div class="pnd-alert-wrp">
    <div
        class="pnd-alert pnd-animate-repeat {{alert.alertClass}}"
        ng-class="{'pnd-alert-closable': alert.dismissible}"
        ng-show="::animateShowAlert(alert)"
        role="alert"
        ng-repeat="alert in alerts"
        ng-click="alertClick(alert)"
        data-alert-id="{{alert.id}}"
        style="{{::alert.initStyle}}"
        >
        <button
            type="button"
            class="close"
            aria-label="Close"
            ng-click="dismissAlert(alert)"
            ng-show="alert.dismissible">
            <span aria-hidden="true" class="pnd-icon-close"></span>
        </button>
        <h1 ng-show="alert.title && alert.title.length > 0">
            {{alert.title}}
        </h1>
        <p class="pnd-alert-text">
            {{alert.message}}
        </p>
    </div>
</div>