<div class="popover pnd-login-popover-container pnd-ignore" tabindex="-1">

    <div class="arrow"></div>

    <!-- iFrame -->
    <div class="iframe-container">
    </div>
    <!-- END // iFrame -->

    <!-- Displayed while loading -->
    <div class="popover-login-pane popover-loading"
         ng-show="isLoading">
        <div class="popover-login-pane-content">
            <h1>Hold on</h1>
            <small>Pundit is loading the login form</small>
            <span class="pnd-icon pnd-icon-refresh pnd-icon-spin"></span>
        </div>
    </div>
    <!-- END // Displayed while loading -->

    <!-- Error message -->
    <div class="popover-login-pane popover-login-error"
         ng-show="loginSomeError">
        <div class="popover-login-pane-content">
            <span class="pnd-icon pnd-icon-exclamation-circle"></span>
            <h1>Ops, something went wrong</h1>
            <p>Unfortunately there was an error while trying to perform your request... please try again later</p>
            <small>Click <a href="#" ng-click="loginRetry()">here</a> to try again</small>
        </div>
    </div>
    <!-- END // Error message -->

    <!-- Success message -->
    <div class="popover-login-pane popover-login-success"
         ng-show="loginSuccess">
    <div class="popover-login-pane popover-login-success">
        <div class="popover-login-pane-content">
            <span class="pnd-icon pnd-icon-uniF069"></span>
            <h1>Welcome in Pundit!</h1>
            <p>Start browsing and creating annotations right now</p>
            <!-- (autoclose in {{autoCloseIn}}) -->
            <small><a href="#" ng-click="closePopover()">Close this dialog</a></small>
        </div>
    </div>
    <!-- END // Success message -->

    <!--
    <div class="popover-footer pnd-login-popover-footer">
        <button type="button" class="btn btn-default pnd-login-popover-close" ng-click="closePopover()">Close</button>
    </div>
    -->

    <!-- end modal-footer -->
</div> <!-- end popover -->


